Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

[Ignore] Fix rebase errors, migrate upstream tests
  PowerShellEditorServices.Common.props
  src/PowerShellEditorServices/Language/LanguageService.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Fix test typos
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
  src/PowerShellEditorServices/Language/LanguageService.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

Fix exception when remoting from Windows to non-Windows
  src/PowerShellEditorServices/Session/Capabilities/DscBreakpointCapability.cs
Owners: @tylerl0706, @rjmholt

Fix exception when remoting from Windows to non-Windows (#760)
  src/PowerShellEditorServices/Session/Capabilities/DscBreakpointCapability.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Use correct AppVeyor version
  appveyor.yml
Owners: @tylerl0706, @rjmholt

Fix crash where edits up to the end of the file do not work
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Delete unused newline
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Use PowerShell download script for Travis builds
  .travis.yml
Owners: @tylerl0706, @rjmholt

Install libunwind8 for dotnet
  .travis.yml
Owners: @tylerl0706, @rjmholt

Use sudo
  .travis.yml
Owners: @tylerl0706, @rjmholt

Remove download.sh
  scripts/download.sh
Owners: @tylerl0706, @rjmholt

Fix PowerShell path escaping
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Debugging/DebugService.cs
  src/PowerShellEditorServices/Properties/AssemblyInfo.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test.Shared/Debugging/Debug W&ith Params [Test].ps1
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Session/PathEscapingTests.cs
Owners: @tylerl0706, @rjmholt, @rkeithhill

Only use quote escaping in dot source template
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Add obsolete attributes
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Remove hidden attribute
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Add international character escaping tests
  test/PowerShellEditorServices.Test/Session/PathEscapingTests.cs
Owners: @tylerl0706, @rjmholt

Add dot source tests for strange paths
  test/PowerShellEditorServices.Test.Shared/scriptassets/Bad&name4script.ps1
  test/PowerShellEditorServices.Test.Shared/scriptassets/NormalScript.ps1
  test/PowerShellEditorServices.Test.Shared/scriptassets/[Truly] b&d Name_4_script.ps1
  test/PowerShellEditorServices.Test/Session/PathEscapingTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Use PowerShell download script for Travis builds (#764)
  .travis.yml
  scripts/download.sh
Owners: @tylerl0706, @rjmholt

Change unhandled messages to warning
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageDispatcher.cs
Owners: @tylerl0706, @rjmholt

Make pipeline runtime exceptions warnings in log
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Set STA ApartmentState in Windows PowerShell runspaces
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Use correct overload of CreateDelegate
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Use explicit Delegate type on variable
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Use string.Equals instead of ==
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Add comment about runspace sta setting
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Make pipeline runtime exceptions warnings in log (#768)
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Change unhandled messages to warnings instead of errors (#767)
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageDispatcher.cs
Owners: @tylerl0706, @rjmholt

Change use of glob to wildcard
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Fix remaining uses of glob to wildcard
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Debugging/DebugService.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Session/PathEscapingTests.cs
Owners: @tylerl0706, @rjmholt, @rkeithhill

Correctly escape path to script
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Fix git idiocy
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Set Runspaces to use STA when running in Windows PowerShell (#769)
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Update PSStandard dependency
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
Owners: @tylerl0706, @rjmholt

Add default BuildInfo file
  src/PowerShellEditorServices.Host/BuildInfo/BuildInfo.cs
Owners: @SeeminglyScience

Correct default BuildInfo.cs
  src/PowerShellEditorServices.Host/BuildInfo/BuildInfo.cs
Owners: @SeeminglyScience

Create build information and log at startup
  PowerShellEditorServices.build.ps1
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Ignore BuildInfo.cs from now on, since builds will change it
  .gitignore
Owners: @tylerl0706, @rjmholt

Update PSStandard dependency (#771)
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
Owners: @tylerl0706, @rjmholt

Add System.Runtime.InteropServices to build
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Fix PowerShell wildcard escaping in debug paths (#765)
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Debugging/DebugService.cs
  src/PowerShellEditorServices/Properties/AssemblyInfo.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test.Shared/Debugging/Debug W&ith Params [Test].ps1
  test/PowerShellEditorServices.Test.Shared/scriptassets/Bad&name4script.ps1
  test/PowerShellEditorServices.Test.Shared/scriptassets/NormalScript.ps1
  test/PowerShellEditorServices.Test.Shared/scriptassets/[Truly] b&d Name_4_script.ps1
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Session/PathEscapingTests.cs
Owners: @tylerl0706, @rjmholt, @rkeithhill

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
