Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

Do not enable PSAvoidTrailingWhitespace rule by default as it currenly flags whitespace-only lines as well
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

Do not enable PSAvoidTrailingWhitespace rule by default as it currenly flags whitespace-only lines as well (#704)
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

Fix load order of PSSA modules
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

Fix load order of PSSA modules (#705)
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

better go to definition
  src/PowerShellEditorServices/Language/FindDeclarationVisitor.cs
Owners: @tylerl0706, @rjmholt

switched to an astvisitor
  src/PowerShellEditorServices/Language/FindDeclarationVisitor.cs
Owners: @tylerl0706, @rjmholt

add a few more overrides
  src/PowerShellEditorServices/Language/FindDeclarationVisitor.cs
Owners: @tylerl0706, @rjmholt

only look at LHS
  src/PowerShellEditorServices/Language/FindDeclarationVisitor.cs
Owners: @tylerl0706, @rjmholt

fix indent
  src/PowerShellEditorServices/Language/FindDeclarationVisitor.cs
Owners: @tylerl0706, @rjmholt

fix stdio passing
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Stop Diagnostic logging from logging to stdio when the communication protocol is set to stdio
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

stdio should only launch language service not debug
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
Owners: @tylerl0706, @rjmholt

stdio should only launch language service not debug (#710)
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
Owners: @tylerl0706, @rjmholt

Stop Diagnostic logging from logging to stdio when the communication protocol is set to stdio (#709)
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

fix stdio passing (#707)
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Go To Definition works with different Ast types (#706)
  src/PowerShellEditorServices/Language/FindDeclarationVisitor.cs
Owners: @tylerl0706, @rjmholt

workaround 711
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

add test
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

workaround to support inmemory:// (#712)
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Prep for 1.8.2 release
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Update CHANGELOG.md
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

touch up
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Prep for 1.8.2 release (#713)
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

fix #1444 stat call
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

increment version for prerelease
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

fix #1444 stat call (#716)
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Fix extra new lines outputted after each command
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  test/PowerShellEditorServices.Test.Host/DebugAdapterTests.cs
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
Owners: @tylerl0706, @rjmholt

Console related classes changes
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Console/IConsoleOperations.cs
  src/PowerShellEditorServices/Console/UnixConsoleOperations.cs
  src/PowerShellEditorServices/Console/WindowsConsoleOperations.cs
Owners: @SeeminglyScience

remove KeyAvailable query
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
Owners: @tylerl0706, @rjmholt

Remove copying of PDB's in build script
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Remove unused field from InvocationEventQueue
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
Owners: @tylerl0706, @rjmholt

Add infrastructure for managing context
  src/PowerShellEditorServices/Session/ExecutionTarget.cs
  src/PowerShellEditorServices/Session/IPromptContext.cs
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
  src/PowerShellEditorServices/Session/LegacyReadLineContext.cs
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
  src/PowerShellEditorServices/Session/PSReadLineProxy.cs
  src/PowerShellEditorServices/Session/PipelineExecutionRequest.cs
  src/PowerShellEditorServices/Session/PromptNest.cs
  src/PowerShellEditorServices/Session/PromptNestFrame.cs
  src/PowerShellEditorServices/Session/PromptNestFrameType.cs
  src/PowerShellEditorServices/Session/ThreadController.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Get the latest PSReadLine module installed
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @SeeminglyScience

Rewrite command invocation operations for PSRL
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices/Session/ExecutionOptions.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHost.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  src/PowerShellEditorServices/Session/IVersionSpecificOperations.cs
  src/PowerShellEditorServices/Session/PowerShell3Operations.cs
  src/PowerShellEditorServices/Session/PowerShell4Operations.cs
  src/PowerShellEditorServices/Session/PowerShell5Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Session/RunspaceHandle.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

first round of feedback changes
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Console/UnixConsoleOperations.cs
  src/PowerShellEditorServices/Debugging/DebugService.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Session/ExecutionOptions.cs
  src/PowerShellEditorServices/Session/ExecutionTarget.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  src/PowerShellEditorServices/Session/IPromptContext.cs
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
  src/PowerShellEditorServices/Session/LegacyReadLineContext.cs
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
  src/PowerShellEditorServices/Session/PipelineExecutionRequest.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Utility/AsyncUtils.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience, @rkeithhill

the file should be downloaded as a .zip
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Address feedback and fix travis build error
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Debugging/DebugService.cs
  src/PowerShellEditorServices/Language/CommandHelpers.cs
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience, @rkeithhill

Fix all tests except ServiceLoadsProfileOnDemand
  src/PowerShellEditorServices/Console/IConsoleOperations.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Session/PromptNest.cs
  test/PowerShellEditorServices.Test.Host/DebugAdapterTests.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Rewrite direct SessionStateProxy calls
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Debugging/DebugService.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/CommandHelpers.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Utility/AsyncLock.cs
  src/PowerShellEditorServices/Utility/AsyncQueue.cs
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/PowerShellContextFactory.cs
Owners: @tylerl0706, @rjmholt, @rkeithhill

add a bunch of copyright headers I missed
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Console/IConsoleOperations.cs
  src/PowerShellEditorServices/Console/UnixConsoleOperations.cs
  src/PowerShellEditorServices/Console/WindowsConsoleOperations.cs
  src/PowerShellEditorServices/Session/PSReadLineProxy.cs
  src/PowerShellEditorServices/Session/PipelineExecutionRequest.cs
  src/PowerShellEditorServices/Session/PromptNest.cs
  src/PowerShellEditorServices/Session/PromptNestFrame.cs
  src/PowerShellEditorServices/Session/PromptNestFrameType.cs
  src/PowerShellEditorServices/Session/ThreadController.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
