Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

Indentation and format changes
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Add functionality to allow a Show-Command like panel in VS Code (#697)
  src/PowerShellEditorServices.Protocol/LanguageServer/GetCommandRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

(GH-799) Remove redundant code
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

(GH-799) Revive docfx scripts
  .gitignore
  PowerShellEditorServices.build.ps1
  docs/docfx.json
  scripts/BuildDocs.ps1
Owners: @tylerl0706, @rjmholt

Add syntax folding (#777)
  src/PowerShellEditorServices.Protocol/LanguageServer/Folding.cs
  src/PowerShellEditorServices.Protocol/LanguageServer/ServerCapabilities.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
  src/PowerShellEditorServices/Language/FoldingReference.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

Support $PSScriptRoot in dot-sourced files
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/FindDotSourcedVisitor.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test.Shared/References/DotSources.ps1
  test/PowerShellEditorServices.Test.Shared/References/ReferenceFileB.ps1
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

consider "local remoting" as "Remote"
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

comments
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Fix recursion count bug
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Fix up XML comments
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Improve comment
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Apply review suggestions
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/FindDotSourcedVisitor.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Update src/PowerShellEditorServices/Session/RunspaceDetails.cs
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

Update src/PowerShellEditorServices/Session/RunspaceDetails.cs
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

Update src/PowerShellEditorServices/Session/RunspaceDetails.cs
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

Update src/PowerShellEditorServices/Session/RunspaceDetails.cs
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

addressed Paul's feedback
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

no need for package sources
  NuGet.Config
Owners: @tylerl0706, @rjmholt

Add label to currDepth parameter
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Fix recursion count bug (#802)
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Fix local remoting (#801)
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

Add Get-PsesRpcMessageResponseTime command and format file
  tools/PsesLogAnalyzer/.vscode/launch.json
  tools/PsesLogAnalyzer/Analyze.ps1
  tools/PsesLogAnalyzer/Parse-PsesLog.ps1
  tools/PsesLogAnalyzer/PsesLogAnalyzer.format.ps1xml
  tools/PsesLogAnalyzer/PsesLogAnalyzer.psd1
  tools/PsesLogAnalyzer/PsesLogAnalyzer.psm1
  tools/PsesLogAnalyzer/Types.ps1
Owners: @tylerl0706, @rjmholt

Work on parse perf
  tools/PsesLogAnalyzer/Parse-PsesLog.ps1
Owners: @tylerl0706, @rjmholt

Start of a PSES log file analyzer
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageReader.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageWriter.cs
  tools/PsesLogAnalyzer/Parse-PsesLog.ps1
  tools/PsesLogAnalyzer/PsesLogAnalyzer.psd1
  tools/PsesLogAnalyzer/PsesLogAnalyzer.psm1
Owners: @tylerl0706, @rjmholt

Address PR feedback - use Env.NewLine, comment strbld capacity
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageReader.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageWriter.cs
  tools/PsesLogAnalyzer/Parse-PsesLog.ps1
Owners: @tylerl0706, @rjmholt

Tweak log message template to separate path from line num with ':'
  src/PowerShellEditorServices/Utility/PsesLogger.cs
  tools/PsesLogAnalyzer/Analyze.ps1
  tools/PsesLogAnalyzer/Parse-PsesLog.ps1
  tools/PsesLogAnalyzer/PsesLogAnalyzer.format.ps1xml
  tools/PsesLogAnalyzer/PsesLogAnalyzer.psd1
  tools/PsesLogAnalyzer/Types.ps1
Owners: @tylerl0706, @rjmholt

Change to PsesLogEntry as default parameterset
  tools/PsesLogAnalyzer/Analyze.ps1
Owners: @tylerl0706, @rjmholt

Address PR feedback, adjust string builder size based on log file data
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageReader.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageWriter.cs
  tools/PsesLogAnalyzer/Analyze.ps1
  tools/PsesLogAnalyzer/PsesLogAnalyzer.format.ps1xml
  tools/PsesLogAnalyzer/PsesLogAnalyzer.psd1
  tools/PsesLogAnalyzer/PsesLogAnalyzer.psm1
  tools/PsesLogAnalyzer/Types.ps1
Owners: @tylerl0706, @rjmholt

Fix review issues
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/FindDotSourcedVisitor.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test.Shared/References/DotSources.ps1
Owners: @tylerl0706, @rjmholt

[Ignore] no need for package sources (#803)
  NuGet.Config
Owners: @tylerl0706, @rjmholt

Apply review suggestions
  src/PowerShellEditorServices/Language/FindDotSourcedVisitor.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Remove unused `using`
  src/PowerShellEditorServices/Language/FindDotSourcedVisitor.cs
Owners: @tylerl0706, @rjmholt

Address PR feedback - remove unnecessary else
  tools/PsesLogAnalyzer/Parse-PsesLog.ps1
Owners: @tylerl0706, @rjmholt

Start of a PSES log file analyzer (#797)
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageReader.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/MessageWriter.cs
  src/PowerShellEditorServices/Utility/PsesLogger.cs
  tools/PsesLogAnalyzer/.vscode/launch.json
  tools/PsesLogAnalyzer/Analyze.ps1
  tools/PsesLogAnalyzer/Parse-PsesLog.ps1
  tools/PsesLogAnalyzer/PsesLogAnalyzer.format.ps1xml
  tools/PsesLogAnalyzer/PsesLogAnalyzer.psd1
  tools/PsesLogAnalyzer/PsesLogAnalyzer.psm1
  tools/PsesLogAnalyzer/Types.ps1
Owners: @tylerl0706, @rjmholt

Fix #17: Add go to definition support for dot sourced file paths (#786)
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/FindDotSourcedVisitor.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Utility/PathUtils.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test.Shared/Definition/FindsDotSourcedFile.cs
  test/PowerShellEditorServices.Test.Shared/References/DotSources.ps1
  test/PowerShellEditorServices.Test.Shared/References/ReferenceFileB.ps1
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Update CHANGELOG for 1.10.0
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

[Ignore] Update CHANGELOG for 1.10.0 (#804)
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

fix debugger deadlock
  src/PowerShellEditorServices.Host/BuildInfo/BuildInfo.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

revertBuildInfo
  src/PowerShellEditorServices.Host/BuildInfo/BuildInfo.cs
Owners: @SeeminglyScience

ignore BuildInfo changes forever
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
