Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

New-EditorFile works on non-powershell untitled files
  src/PowerShellEditorServices.Protocol/LanguageServer/EditorCommands.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServerEditorOperations.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

address robs feedback
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

have TryGetFile log exception
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Removed ShowOnlineHelp Message
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

params on newline
  src/PowerShellEditorServices.Protocol/Server/LanguageServerEditorOperations.cs
Owners: @tylerl0706, @rjmholt

create a new ScriptFile and have the language be in FileContext
  src/PowerShellEditorServices.Protocol/LanguageServer/EditorCommands.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServerEditorOperations.cs
  src/PowerShellEditorServices/Extensions/EditorContext.cs
  src/PowerShellEditorServices/Extensions/FileContext.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

xml docs
  src/PowerShellEditorServices/Extensions/EditorContext.cs
  src/PowerShellEditorServices/Extensions/FileContext.cs
Owners: @tylerl0706, @rjmholt

Fix multiple occurrences of the same typo
  src/PowerShellEditorServices/Language/FindReferencesVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolsVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolsVisitor2.cs
  src/PowerShellEditorServices/Language/GetDefinitionResult.cs
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
Owners: @tylerl0706, @rjmholt

Fix multiple occurrences of the same typo (#778)
  src/PowerShellEditorServices/Language/FindReferencesVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolsVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolsVisitor2.cs
  src/PowerShellEditorServices/Language/GetDefinitionResult.cs
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
Owners: @tylerl0706, @rjmholt

Fix ThreadStatic issue with an object pool
  src/PowerShellEditorServices/Utility/ExecutionTimer.cs
  src/PowerShellEditorServices/Utility/ObjectPool.cs
  test/PowerShellEditorServices.Test/Utility/ExecutionTimerTests.cs
  test/PowerShellEditorServices.Test/Utility/ObjectPoolTests.cs
Owners: @tylerl0706, @rjmholt

Replace bad StringReader usage with String.Split()
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Add XML documentation to new class
  src/PowerShellEditorServices/Utility/ObjectPool.cs
Owners: @tylerl0706, @rjmholt

Fix #779: NRE on Dispose in ExecutionTimer (#782)
  src/PowerShellEditorServices/Utility/ExecutionTimer.cs
  src/PowerShellEditorServices/Utility/ObjectPool.cs
  test/PowerShellEditorServices.Test/Utility/ExecutionTimerTests.cs
  test/PowerShellEditorServices.Test/Utility/ObjectPoolTests.cs
Owners: @tylerl0706, @rjmholt

address Keith's feedback
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Adds ability to use separate pipes for reading and writing
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Removed ShowOnlineHelp Message (#775)
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Change some whitespace
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Reorder string splitting
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Fix test
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Use Path.DirectorySeparatorChar as read/write pipe name separator for transport config endpoint
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

WritePipeServer: pipe direction should be "Out"
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
Owners: @tylerl0706, @rjmholt

Organize startup script parameters by parameter sets
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

EditorServiceTransportType: Introduce separate properties for read/write pipes
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Fix descion/decision typo in visitors
  src/PowerShellEditorServices/Language/FindDeclarationVisitor.cs
  src/PowerShellEditorServices/Language/FindDotSourcedVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolsVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolsVisitor2.cs
Owners: @tylerl0706, @rjmholt

Add PSPossibleIncorrectUsageOfAssignmentOperator rule to default set of PSSA rules
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

Fix typo
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

Implement go-to-definition for dot-sourced files
  src/PowerShellEditorServices/Language/FindDotSourcedVisitor.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Utility/PathUtils.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test.Shared/Definition/FindsDotSourcedFile.cs
  test/PowerShellEditorServices.Test.Shared/References/DotSources.ps1
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

Log build info (#772)
  .gitignore
  PowerShellEditorServices.build.ps1
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/BuildInfo/BuildInfo.cs
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

New-EditorFile works on non-powershell untitled files (#774)
  src/PowerShellEditorServices.Protocol/LanguageServer/EditorCommands.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServerEditorOperations.cs
  src/PowerShellEditorServices/Extensions/EditorContext.cs
  src/PowerShellEditorServices/Extensions/FileContext.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Include variant line split tests
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Fix descion/decision typo in visitors (#787)
  src/PowerShellEditorServices/Language/FindDeclarationVisitor.cs
  src/PowerShellEditorServices/Language/FindDotSourcedVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolsVisitor.cs
  src/PowerShellEditorServices/Language/FindSymbolsVisitor2.cs
Owners: @tylerl0706, @rjmholt

Add support for a "Show Documentation" quick fix menu entry
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/ScriptFileMarker.cs
Owners: @tylerl0706, @rjmholt

Add managed thread id to log output to add debugging threading issues
  src/PowerShellEditorServices/Utility/PsesLogger.cs
Owners: @tylerl0706, @rjmholt

Adding Get Command for Command Explorer
  src/PowerShellEditorServices.Protocol/LanguageServer/GetCommandsRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Return PowerShell Commands Return all commands but aliases. We're returning the same as show-command
  src/PowerShellEditorServices.Protocol/LanguageServer/GetCommandsRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Using SMA Add using for System.Management.Automation
  src/PowerShellEditorServices.Protocol/LanguageServer/GetCommandsRequest.cs
Owners: @tylerl0706, @rjmholt

Add Get Command request type and handler
  src/PowerShellEditorServices.Protocol/LanguageServer/GetCommandsRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Add comments documenting the purpose of the message and requests
  src/PowerShellEditorServices.Protocol/LanguageServer/GetCommandsRequest.cs
Owners: @tylerl0706, @rjmholt

Remove extra logging. Be explicit with types.
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Remove GetAllCommands. >> Refactor into a single command. If nothing is passed, it will return all objects.
  src/PowerShellEditorServices.Protocol/LanguageServer/GetCommandsRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
