Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience

address feedback
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Rev to version 1.12 (#886)
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

more feedback
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

safe check
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Added comment about null
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
Owners: @tylerl0706, @rjmholt

backport #881 in a different way (#884)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Add new PSSA 1.18 ParseError Severity
  src/PowerShellEditorServices/Workspace/ScriptFileMarker.cs
Owners: @tylerl0706, @rjmholt

Cherry pick PR 1750 merge commit to legacy/v1.x, has additional fixes (#887)
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

ignore parseerrors from PSSA
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/ScriptFileMarker.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Use public InternalHost from origin runspace (#874)
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Console/IConsoleOperations.cs
  src/PowerShellEditorServices/Console/UnixConsoleOperations.cs
  src/PowerShellEditorServices/Console/WindowsConsoleOperations.cs
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  src/PowerShellEditorServices/Session/Host/TerminalPSHostRawUserInterface.cs
  src/PowerShellEditorServices/Session/Host/TerminalPSHostUserInterface.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

address feedback
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/ScriptFileMarker.cs
Owners: @tylerl0706, @rjmholt

back to empty list since we supply parse errors in PSES again
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

address feedback
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
  src/PowerShellEditorServices/Workspace/ScriptFileMarker.cs
Owners: @rjmholt, @tylerl0706

Enhance Get-PsesRpcMessageResponseTime to select specific message types
  .vscode/launch.json
  tools/PsesLogAnalyzer/Analyze.ps1
Owners: @tylerl0706, @rjmholt

Enhance Get-PsesRpcNotificationMessage to filter by message type
  tools/PsesLogAnalyzer/Analyze.ps1
Owners: @tylerl0706, @rjmholt

Tweak help text
  tools/PsesLogAnalyzer/Analyze.ps1
Owners: @tylerl0706, @rjmholt

Enhance Get-PsesRpcNotificationMessage/MessageResponseTimes to allow filtering by message name (#889)
  .vscode/launch.json
  tools/PsesLogAnalyzer/Analyze.ps1
Owners: @tylerl0706, @rjmholt

Add new ParseError level to ScriptFileMarkerLevel and only have it send parse errors (#888)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/ScriptFileMarker.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

prep for 2.0.0-preview.2 release
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

cherry pick #888 Add new ParseError level to ScriptFileMarkerLevel and only have it send parse errors
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/ScriptFileMarker.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

prep for 2.0.0-preview.2 release (#890)
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Fix typos, add context to CHANGELOG
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

cherry pick #888 Add new ParseError level to ScriptFileMarkerLevel and only have it send parse errors (#891)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/ScriptFileMarker.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Fix typos, add context to CHANGELOG (#892)
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Add warning to parameter validation set
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

add changelog
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

[ignore] add changelog (#893)
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

change order of validate set
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Clean up and pop dead runspace when using 'attach'
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Clean up and pop dead runspace when using 'attach'
  src/PowerShellEditorServices/Session/PowerShell5Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

named param
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

big comment
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Clean up and pop dead runspace when using 'attach' (#896)
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Clean up and pop dead runspace when using 'attach' for V2 (#897)
  src/PowerShellEditorServices/Session/PowerShell5Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Add warning to parameter validation set (#895)
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Add warning to parameter validation set (#895)
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

[ignore] Add additional changelog details
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

[ignore] Add additional changelog details
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Update date
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

[ignore] Add additional changelog details (#898)
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt
