Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

Drop unsupported msbuild switches for net461 builds
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Fix net461 test bugs
  test/PowerShellEditorServices.Test.Protocol/Server/OutputDebouncerTests.cs
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

Be explicit with bool parameters
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Chain all the things (checkHelpPSCommand variable)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

grab psrl from gallery
  PowerShellEditorServices.build.ps1
  modules.json
Owners: @tylerl0706, @rjmholt

Use PSRL release and filter out previous betas
  PowerShellEditorServices.build.ps1
  modules.json
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

[Ignore] Exclude integration tests (#742)
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Use -notin operator
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @SeeminglyScience

minor bug fix
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix duplicate addition of symbols
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Improve module import script style
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @SeeminglyScience

Simplify reflection call
  src/PowerShellEditorServices/Language/AstOperations.cs
Owners: @tylerl0706, @rjmholt

Use latest NuGet provider
  appveyor.yml
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

Install newer powershellget
  appveyor.yml
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

Fix AllowPrerelease flag
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Change parameter name back
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Try harder to get a better packageget version
  appveyor.yml
Owners: @tylerl0706, @rjmholt

Put first install module in another process
  appveyor.yml
Owners: @tylerl0706, @rjmholt

Try more thigns
  appveyor.yml
Owners: @tylerl0706, @rjmholt

Make travis also use the right version of packageget
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

Make travis installation user-local
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

Add net461 shim binaries for Windows PowerShell
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
Owners: @tylerl0706, @rjmholt

Build in single dir
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Clean up build script
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Skip failing AsyncDebouncer test
  test/PowerShellEditorServices.Test/Utility/AsyncDebouncerTests.cs
Owners: @tylerl0706, @rjmholt

Update build tooling
  PowerShellEditorServices.build.ps1
  module/PowerShellEditorServices.VSCode/PowerShellEditorServices.VSCode.psm1
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  modules.json
Owners: @tylerl0706, @rjmholt

Use correct Newtonsoft.Json version for PSCore 6.0
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
Owners: @tylerl0706, @rjmholt

Use fully qualified assembly name for PSReadLine loading for PSCore 6.0
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @SeeminglyScience

Address some PR feedback
  PowerShellEditorServices.Common.props
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Session/PowerShell5Operations.cs
  test/PowerShellEditorServices.Test.Shared/Completion/CompleteCommandFromModule.cs
  test/PowerShellEditorServices.Test.Shared/Completion/CompletionExamples.psm1
  test/PowerShellEditorServices.Test.Shared/References/SimpleFile.ps1
  test/PowerShellEditorServices.Test.Shared/TestUtilities/TestUtilities.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
  test/PowerShellEditorServices.Test/Utility/LoggerTests.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Use latest PSReadLine (#745)
  PowerShellEditorServices.build.ps1
  appveyor.yml
  modules.json
  scripts/travis.ps1
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Fix casing typos
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Make travis fail when errors occur
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

Fix travis build
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

Fix command module import path
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @SeeminglyScience

Try another travis fix
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

Restore travis build with verbose flags
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

Try new travis script
  .travis.yml
  scripts/travisInstallPSGet.ps1
Owners: @tylerl0706, @rjmholt

Travis
  .travis.yml
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

Another travis try
  .travis.yml
  scripts/travis.ps1
Owners: @tylerl0706, @rjmholt

TRAVIS!!!!!!
  .travis.yml
  scripts/travis.ps1
  scripts/travisInstallPSGet.ps1
Owners: @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
