Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

Oops, I did it again... I played with your heart, got lost in the game Oh baby, baby, ... ;-)
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Return the start line number for Describe block
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Null check pesterSymbol.ScriptRegion
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Update comment to cause new build to kick off
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Whitespace change to kick off a new build
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Use public InternalHost from origin runspace
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  src/PowerShellEditorServices/Session/Host/TerminalPSHostRawUserInterface.cs
  src/PowerShellEditorServices/Session/Host/TerminalPSHostUserInterface.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Return the start line number for Describe block (#873)
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Fix unable to open files in problems/peek windows issue
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Play it safe by adding a new property instead of changing ClientPath
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Address Codacy issues
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Migrate Pester version detection into an InovkePester stub script (#1776)
  module/PowerShellEditorServices/InvokePesterStub.ps1
Owners: @tylerl0706, @rjmholt

Support -CustomPipeName
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

codacy fix
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

feedback from @rjmholt
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

address more feedback from @rjmholt
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Add attach to local runspace.
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/LanguageServer/GetRunspaceRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

Remove comment.
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Temporarily disable deemphasized stack frames to fix VSCode issue 1750
  src/PowerShellEditorServices/Debugging/StackFrameDetails.cs
Owners: @rkeithhill

Fix up RawUI.ReadKey
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Console/IConsoleOperations.cs
  src/PowerShellEditorServices/Console/UnixConsoleOperations.cs
  src/PowerShellEditorServices/Console/WindowsConsoleOperations.cs
  src/PowerShellEditorServices/Session/Host/TerminalPSHostRawUserInterface.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Pass $Host in the start up script
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Add tests for DocumentUri and fix colon issue on Linux/macOS
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Attempt to fix where we replace colons on Linux
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Temporarily disable deemphasized stack frames to fix VSCode issue 1750 (#876)
  src/PowerShellEditorServices/Debugging/StackFrameDetails.cs
Owners: @rkeithhill

Try to fix tests for Linux
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Use single runspaceId property.
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

Address feedback
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  src/PowerShellEditorServices/Session/Host/TerminalPSHostRawUserInterface.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Address PR feedback
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Support -CustomPipeName (#871)
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

Kick the build
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Address PR feedback, use StringBuilder.Replace()
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Add test for backslash char on Linux/macOS.
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Remove unnecessary processId check.
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Factored if.
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Update src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Use runspace rather than dynamic.
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Update src/PowerShellEditorServices/Workspace/Workspace.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Address feedback and also add doc comments
  src/PowerShellEditorServices/Session/Host/TerminalPSHostRawUserInterface.cs
Owners: @tylerl0706, @rjmholt

Fix unable to open files in problems/peek windows issue (#872)
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Accept process ID for GetRunspaceRequest.
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Clean up.
  src/PowerShellEditorServices.Protocol/LanguageServer/GetRunspaceRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
