Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience

Make AnalysisService use the latest version of PSScriptAnalyzer (#677)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
  src/PowerShellEditorServices/Extensions/EditorObject.cs
  src/PowerShellEditorServices/Extensions/ExtensionService.cs
  src/PowerShellEditorServices/Session/EditorSession.cs
  src/PowerShellEditorServices/Utility/Logging.cs
  src/PowerShellEditorServices/Utility/PsesLogger.cs
Owners: @tylerl0706, @rjmholt

Fix issue where MS Dynamics CRM (#686)
  module/PowerShellEditorServices.VSCode/PowerShellEditorServices.VSCode.psm1
  module/PowerShellEditorServices/Commands/PowerShellEditorServices.Commands.psm1
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices/Session/RemoteFileManager.cs
Owners: @tylerl0706, @rjmholt

add what to do when there's a vulnerability
  CONTRIBUTING.md
Owners: @tylerl0706, @rjmholt

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @tylerl0706, @rjmholt

fix links
  CONTRIBUTING.md
Owners: @tylerl0706, @rjmholt

add what to do when there's a vulnerability to docs (#687)
  CONTRIBUTING.md
Owners: @tylerl0706, @rjmholt

initial attempt
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  src/PowerShellEditorServices.VSCode/PowerShellEditorServices.VSCode.csproj
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Session/PowerShell3Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

misc
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

get Windows PowerShell working
  PowerShellEditorServices.build.ps1
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeClientChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/StdioServerChannel.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  test/PowerShellEditorServices.Test.Shared/PowerShellEditorServices.Test.Shared.csproj
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

everything builds
  PowerShellEditorServices.Common.props
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test.Shared/PowerShellEditorServices.Test.Shared.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt

everything builds
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

everything builds
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

everything builds
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

remove all references to the Pipeline class
  PowerShellEditorServices.Common.props
  src/PowerShellEditorServices/Session/PowerShell3Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

patrick's feedback
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

debugging
  src/PowerShellEditorServices/Session/PowerShell3Operations.cs
Owners: @tylerl0706, @rjmholt

Fix error w/Start-EditorServices transcript logging using temp console
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Set DocumentRangeFormattingProvider value to false.
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Set DocumentRangeFormattingProvider value to false. (#693)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix error w/Start-EditorServices transcript logging using temp console (#691)
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Change debug launch handler to treat null/empty cwd to not change dir
  src/PowerShellEditorServices.Protocol/DebugAdapter/LaunchRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

address patrick's feedback
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

replace netstandard1.6 with netstandard2.0
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices.Channel.WebSocket/PowerShellEditorServices.Channel.WebSocket.csproj
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  src/PowerShellEditorServices.VSCode/PowerShellEditorServices.VSCode.csproj
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  test/PowerShellEditorServices.Test.Channel.WebSocket/PowerShellEditorServices.Test.Channel.WebSocket.csproj
  test/PowerShellEditorServices.Test.Shared/PowerShellEditorServices.Test.Shared.csproj
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Address PR feedback, reorg to not execute working dir code unless used
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Add RenameProvider capability
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Get rid of unnecessary pragma warning disable
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Change debug launch handler to treat null/empty cwd to not change dir (#694)
  src/PowerShellEditorServices.Protocol/DebugAdapter/LaunchRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

Add RenameProvider capability (#696)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Add release build infrastructure
  .gitignore
  PowerShellEditorServices.build.ps1
  tools/releaseBuild/Image/DockerFile
  tools/releaseBuild/Image/build.ps1
  tools/releaseBuild/Image/dockerInstall.psm1
  tools/releaseBuild/build.json
  tools/releaseBuild/signing.xml
  tools/releaseBuild/vstsbuild.ps1
Owners: @tylerl0706, @rjmholt

Add signing assets for release
  PowerShellEditorServices.build.ps1
  tools/releaseBuild/signing.xml
Owners: @tylerl0706, @rjmholt

Use named pipe transport securely, remove TCP
  PowerShellEditorServices.build.ps1
  README.md
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Channel.WebSocket/PowerShellEditorServices.Channel.WebSocket.csproj
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeClientChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/TcpSocketClientChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/TcpSocketServerChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/TcpSocketServerListener.cs
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  test/PowerShellEditorServices.Test.Host/DebugAdapterTests.cs
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
  test/PowerShellEditorServices.Test.Host/ServerTestsBase.cs
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  tools/releaseBuild/FileCatalogSigning.xml
  tools/releaseBuild/Image/build.ps1
  tools/releaseBuild/build.json
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Prepare for v1.8.0 release
  CHANGELOG.md
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
Owners: @tylerl0706, @rjmholt

Disable tests in Docker build
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
  tools/releaseBuild/Image/DockerFile
  tools/releaseBuild/Image/build.ps1
Owners: @tylerl0706, @rjmholt

Fix issue with stat format on Linux
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Fix incompatible New-Guid usage in start script
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Fix incompatible New-Guid usage in start script (#699)
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Improve macOS differentiation
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Fix issue with stat format on Linux (#698)
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Update CHANGELOG and version numbers for 1.8.1 release
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Update CHANGELOG and version numbers for 1.8.1 release (#702)
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt
