Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience

Add PSReadLine installation to build script
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Fix ambiguous method crash on CoreCLR
  src/PowerShellEditorServices/Session/PSReadLineProxy.cs
Owners: @SeeminglyScience

Pass feature flags to Start-EditorServicesHost
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Add AppVeyor tracking to branch 2.0.0
  appveyor.yml
Owners: @tylerl0706, @rjmholt

Some more feedback changes
  src/PowerShellEditorServices/Debugging/DebugService.cs
Owners: @rkeithhill

Reduce allocations when parsing files
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Reduce allocations when parsing files (#715)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Stop creating new JsonSerializers
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
  src/PowerShellEditorServices/Utility/HashCodeCombiner.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Reduce allocating operations in CodeLens providers
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
Owners: @SeeminglyScience

Fix style mistake
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
Owners: @SeeminglyScience

Fix style mistake
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
Owners: @SeeminglyScience

Remove unused class
  src/PowerShellEditorServices/Utility/HashCodeCombiner.cs
Owners: @tylerl0706, @rjmholt

Use types instead of var
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
Owners: @SeeminglyScience

Use SelectMany in simple non-linq case
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
Owners: @SeeminglyScience

increment version for prerelease (#717)
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Add signing script update script
  tools/releaseBuild/vstsbuild.ps1
Owners: @tylerl0706, @rjmholt

Get rid of AuthenticodeDual signatures
  tools/releaseBuild/signing.xml
Owners: @tylerl0706, @rjmholt

Add VSTS signing step (#722)
  tools/releaseBuild/signing.xml
  tools/releaseBuild/vstsbuild.ps1
Owners: @tylerl0706, @rjmholt

Update CHANGELOG for v1.8.3
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Fix typo
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Fixup format
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Update CHANGELOG for v1.8.3 (#723)
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Increment version number
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Increment version number (#724)
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Fix empty array handling
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
Owners: @SeeminglyScience

Change code style
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Fix race conditional null dereference
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Fix comment-based help snippet
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix comment-based help snippet (#726)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Address remaining feedback
  .gitignore
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Console/WindowsConsoleOperations.cs
  src/PowerShellEditorServices/Session/IPromptContext.cs
  src/PowerShellEditorServices/Session/LegacyReadLineContext.cs
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
  src/PowerShellEditorServices/Session/PSReadLineProxy.cs
  src/PowerShellEditorServices/Session/PowerShell3Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Session/PromptNestFrame.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Attempt to fix issue with native apps and input
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHost.cs
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Fix null dereference when debugging untitlted files (#725)
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Revert "Attempt to fix issue with native apps and input"
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHost.cs
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Fix build failure
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

PSReadLine integration (#672)
  .gitignore
  PowerShellEditorServices.build.ps1
  appveyor.yml
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Console/IConsoleOperations.cs
  src/PowerShellEditorServices/Console/UnixConsoleOperations.cs
  src/PowerShellEditorServices/Console/WindowsConsoleOperations.cs
  src/PowerShellEditorServices/Debugging/DebugService.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Session/ExecutionOptions.cs
  src/PowerShellEditorServices/Session/ExecutionTarget.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHost.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  src/PowerShellEditorServices/Session/IPromptContext.cs
  src/PowerShellEditorServices/Session/IVersionSpecificOperations.cs
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
  src/PowerShellEditorServices/Session/LegacyReadLineContext.cs
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
  src/PowerShellEditorServices/Session/PSReadLineProxy.cs
  src/PowerShellEditorServices/Session/PipelineExecutionRequest.cs
  src/PowerShellEditorServices/Session/PowerShell3Operations.cs
  src/PowerShellEditorServices/Session/PowerShell4Operations.cs
  src/PowerShellEditorServices/Session/PowerShell5Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Session/PromptNest.cs
  src/PowerShellEditorServices/Session/PromptNestFrame.cs
  src/PowerShellEditorServices/Session/PromptNestFrameType.cs
  src/PowerShellEditorServices/Session/RunspaceHandle.cs
  src/PowerShellEditorServices/Session/ThreadController.cs
  src/PowerShellEditorServices/Utility/AsyncLock.cs
  src/PowerShellEditorServices/Utility/AsyncQueue.cs
  src/PowerShellEditorServices/Utility/AsyncUtils.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/PowerShellContextFactory.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience, @rkeithhill

Fix formatter crash when script contains parse errors
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

Fix possible null references, add comments, improve variable types
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

Fix a null dereference when an invalid cast exception has no inner exception
  src/PowerShellEditorServices/Console/InputPromptHandler.cs
Owners: @SeeminglyScience

Address feedback on nulls and style
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

Fix crash where lines appended to end of script file cause out of bounds error
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt
