Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

Make progress cache thread safe
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
Owners: @tylerl0706, @rjmholt

Add attach to local runspace. (#875)
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/LanguageServer/GetRunspaceRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

Catch NotSupportedException which can be thrown by FilleStream ctor (#866)
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Speed up travis builds by skipping the .net core initialisation (#868)
  .travis.yml
Owners: @tylerl0706, @rjmholt

Added `AsNewFile` switch to Out-CurrentFile (#869)
  module/PowerShellEditorServices/Commands/Public/Out-CurrentFile.ps1
Owners: @tylerl0706, @rjmholt

Return the start line number for Describe block (#873)
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Temporarily disable deemphasized stack frames to fix VSCode issue 1750 (#876)
  src/PowerShellEditorServices/Debugging/StackFrameDetails.cs
Owners: @rkeithhill

[ignore] merge conflicts due to Async suffixes
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

Add attach to local runspace. (#875)
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/LanguageServer/GetRunspaceRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

remove Async suffixes
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Cherry pick commit for #1750 fix
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Fix docUri issue with Reference CodeLens provider
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Address PR feedback
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

NamedPipeConnectionInfo <= Enter-PSHostProcess
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

var
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Update src/PowerShellEditorServices/Workspace/Workspace.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

address comments
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

remove Async suffixes
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Speed up travis builds by skipping the .net core initialisation (#868)
  .travis.yml
Owners: @tylerl0706, @rjmholt

[ignore] merge conflicts due to Async suffixes
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

Add attach to local runspace. (#875)
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/LanguageServer/GetRunspaceRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

Catch NotSupportedException which can be thrown by FilleStream ctor (#866)
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Temporarily disable deemphasized stack frames to fix VSCode issue 1750 (#876)
  src/PowerShellEditorServices/Debugging/StackFrameDetails.cs
Owners: @rkeithhill

Return the start line number for Describe block (#873)
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Added `AsNewFile` switch to Out-CurrentFile (#869)
  module/PowerShellEditorServices/Commands/Public/Out-CurrentFile.ps1
Owners: @tylerl0706, @rjmholt

NamedPipeConnectionInfo <= Enter-PSHostProcess (#881)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

backport #881 in a different way
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

add UseCorrectCasing (#845)
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

add PipelineIndentationStyle mapping (#836)
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

Cherry pick PR 1750 to legacy/1.x branch, fix more issues (#880)
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

simpler
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

add PipelineIndentationStyle mapping (#836)
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

add UseCorrectCasing (#845)
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

Mao new powershell.codeformatting settings WhitespaceInsideBrace and WhitespaceAroundPipe to PSSA settings hash table (#835)
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

switch back to reflecting
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

add PipelineIndentationStyle mapping (#836)
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

Mao new powershell.codeformatting settings WhitespaceInsideBrace and WhitespaceAroundPipe to PSSA settings hash table (#835)
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

add UseCorrectCasing (#845)
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

Rev to version 1.12
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Cherry pick PR 1750 merge commit to legacy/v1.x, has additional fixes
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
