Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

fix XUnit warnings that better assertion operators should be used. This also cleans up the build log
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Extensions/ExtensionServiceTests.cs
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

fix another warning
  test/PowerShellEditorServices.Test.Protocol/Server/OutputDebouncerTests.cs
Owners: @tylerl0706, @rjmholt

fix even more warnings (this should be the last one after VS re-discovered more)
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
  test/PowerShellEditorServices.Test/Utility/AsyncQueueTests.cs
Owners: @tylerl0706, @rjmholt

use clearer way of passing in null when int is nullable
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Prep 1.11 release with Changelog
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Prep for 2.0.0-preview.1 release
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

powershell modules only deal with Version types
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

suffix
  PowerShellEditorServices.Common.props
Owners: @tylerl0706, @rjmholt

update date
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

spaces
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

spaces
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

mini-announcement
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

[Ignore] Prep 1.11 release with Changelog (#860)
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

address feedback
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Handle arbitrary exceptions when recursing workspace
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Jump out of golden path on exceptions
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Blank lines
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Prep for 2.0.0-preview.1 release (#861)
  CHANGELOG.md
  PowerShellEditorServices.Common.props
Owners: @tylerl0706, @rjmholt

Rev to preview2
  PowerShellEditorServices.Common.props
Owners: @tylerl0706, @rjmholt

Rev to preview2 (#863)
  PowerShellEditorServices.Common.props
Owners: @tylerl0706, @rjmholt

upgrade powershell sdk to 6.1.2
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt

address stylistic nitpicks by Patrick
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Use lazy initialisation to query pester version only when it is needed in GetPesterLens
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

use pscommand instead
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Handle arbitrary exceptions when recursing workspace (#862)
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Upgrade PowerShellStandard.Library, PowerShell.SDK, NET.Test.SDK and Serilog NuGet packages to latest released version and enable AppVeyor build on any branch (#859)
  appveyor.yml
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Fix XUnit warnings that better assertion operators should be used. (#858)
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
  test/PowerShellEditorServices.Test.Protocol/Server/OutputDebouncerTests.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Extensions/ExtensionServiceTests.cs
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
  test/PowerShellEditorServices.Test/Utility/AsyncQueueTests.cs
Owners: @tylerl0706, @rjmholt

(maint) Reinstate test filtering (#854)
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Catch NotSupportedException which can be thrown by FilleStream ctor
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Handle arbitrary exceptions when recursing workspace (#862)
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Catch NotSupportedException which can be thrown by FilleStream ctor (#866)
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Invoke expand-archive using module qualified name
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Update src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

adress style PR comments
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Speed up travis builds by skipping the .net core initialisation
  .travis.yml
Owners: @tylerl0706, @rjmholt

Speed up travis builds by skipping the .net core initialisation (#868)
  .travis.yml
Owners: @tylerl0706, @rjmholt

Added `AsNewFile` switch, plus, if a file is not open, it creates a new one
  module/PowerShellEditorServices/Commands/Public/Out-CurrentFile.ps1
Owners: @tylerl0706, @rjmholt

Update module/PowerShellEditorServices/Commands/Public/Out-CurrentFile.ps1
  module/PowerShellEditorServices/Commands/Public/Out-CurrentFile.ps1
Owners: @tylerl0706, @rjmholt

Added `AsNewFile` switch to Out-CurrentFile (#869)
  module/PowerShellEditorServices/Commands/Public/Out-CurrentFile.ps1
Owners: @tylerl0706, @rjmholt

Use Get-Command and make calls to GetPesterCodeLens async/await to the top
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices/CodeLenses/ICodeLensProvider.cs
  src/PowerShellEditorServices/CodeLenses/ICodeLenses.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
