Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience

Fix XML comment, add a test
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Add a test for the script, add an XML comment for the validation parameter
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Add new validate method as overload rather than optional parameter
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

[Style] Refactor FindReferencesOfSymbol code
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Check that file exists before parsing for symbols
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Fix unneccessary file read for workspace script files
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Re-enable AppVeyor tests that might pass now
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
  test/PowerShellEditorServices.Test/Utility/AsyncDebouncerTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Add timeouts to asynchronous tests
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Skip hanging test
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
Owners: @tylerl0706, @rjmholt

Revert "[Ignore] Add timeouts to asynchronous tests"
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

Revert "Revert "[Ignore] Add timeouts to asynchronous tests""
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

Reduce allocations in the CodeLens providers (#719)
  src/PowerShellEditorServices.Host/CodeLens/CodeLensFeature.cs
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices.Host/CodeLens/ReferencesCodeLensProvider.cs
Owners: @SeeminglyScience

Add comments to explain ScriptFile position validation changes
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Fix typo
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Fix a null dereference when an invalid cast exception has no inner exception (#729)
  src/PowerShellEditorServices/Console/InputPromptHandler.cs
Owners: @SeeminglyScience

Use better timeout mechanism, force task onto new thread
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Change asynchronous language service tests to execute in new thread
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

Revert "[Ignore] Change asynchronous language service tests to execute in new thread"
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

Revert "Use better timeout mechanism, force task onto new thread"
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Make AppVeyor tests pass (#733)
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
  test/PowerShellEditorServices.Test/Utility/AsyncDebouncerTests.cs
Owners: @tylerl0706, @rjmholt

Fix unsupported API usage in .NET Framework
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Revert "[Ignore] Make AppVeyor tests pass (#733)"
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
  test/PowerShellEditorServices.Test/Utility/AsyncDebouncerTests.cs
Owners: @tylerl0706, @rjmholt

Fix CodeLens crash when a file cannot be opened, stop unnecessary file reads in CodeLens (#732)
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Fix crash where lines appended to end of script file causes out of bounds exception (#730)
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Fix formatter crash when script contains parse errors (#728)
  src/PowerShellEditorServices/Analysis/AnalysisService.cs
Owners: @rjmholt

Move PSES builds to netstandard and use PSStandard APIs
  PowerShellEditorServices.Common.props
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  src/PowerShellEditorServices.VSCode/PowerShellEditorServices.VSCode.csproj
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
  src/PowerShellEditorServices/Session/PowerShell3Operations.cs
  src/PowerShellEditorServices/Session/PowerShell4Operations.cs
  src/PowerShellEditorServices/Session/PowerShell5Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test.Shared/PowerShellEditorServices.Test.Shared.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Fix missed net451 reference in build file
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

First test fixes
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test.Host/ServerTestsBase.cs
  test/PowerShellEditorServices.Test.Shared/PowerShellEditorServices.Test.Shared.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Add PowerShell SDK references to tests where needed
  test/PowerShellEditorServices.Test.Shared/PowerShellEditorServices.Test.Shared.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt

[Ignore] Update changelog for 1.8.4 release
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

[Ignore] Update changelog for 1.8.4 release (#735)
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

[Ignore] Fix changelog error
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Cache the reflection call done for completions
  src/PowerShellEditorServices/Language/AstOperations.cs
Owners: @tylerl0706, @rjmholt

Remove excess LINQ usage in LanguageService.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

[Style] Simplify method bodies
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Replace LINQ aggregate call
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

[Style] Change LanguageService fields to underscore style
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

[Style] Convert non-obvious var usage
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

[Style] Use nameof for parameter validation
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Increment version to 1.8.5
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt
