Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience

[Ignore] Add list of frontends to README (#971)
  README.md
Owners: @tylerl0706, @rjmholt

More work
  PowerShellEditorServices.build.ps1
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  src/PowerShellEditorServices.Engine/.vscode/launch.json
  src/PowerShellEditorServices.Engine/BuildInfo.cs
  src/PowerShellEditorServices.Engine/Hosting/EditorServicesHost.cs
  src/PowerShellEditorServices.Engine/Hosting/LogLevel.cs
  src/PowerShellEditorServices.Engine/Hosting/ProfilePaths.cs
  src/PowerShellEditorServices.Engine/Interface/ILanguageServer.cs
  src/PowerShellEditorServices.Engine/LanguageServer/OmnisharpLanguageServer.cs
  src/PowerShellEditorServices.Engine/PowerShellEditorServices.Engine.csproj
  tools/PsesPsClient/Client.cs
  tools/PsesPsClient/PsesPsClient.psm1
Owners: @tylerl0706, @rjmholt

Defend against crash when no PSSA
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Make integration tests pass for omnisharp
  src/PowerShellEditorServices.Engine/Hosting/EditorServicesHost.cs
  src/PowerShellEditorServices.Engine/Interface/ILanguageServerBuilder.cs
  src/PowerShellEditorServices.Engine/LanguageServer/OmnisharpLanguageServer.cs
  src/PowerShellEditorServices.Engine/LanguageServer/OmnisharpLanguageServerBuilder.cs
  src/PowerShellEditorServices.Engine/PowerShellEditorServices.Engine.csproj
  src/PowerShellEditorServices.Protocol/LanguageServer/Initialize.cs
  src/PowerShellEditorServices.Protocol/LanguageServer/WorkspaceClientCapabilities.cs
  test/Pester/EditorServices.Integration.Tests.ps1
  tools/PsesPsClient/Client.cs
  tools/PsesPsClient/PsesPsClient.psm1
Owners: @tylerl0706, @rjmholt

delete stale code
  src/PowerShellEditorServices.Channel.WebSocket/PowerShellEditorServices.Channel.WebSocket.csproj
  src/PowerShellEditorServices.Channel.WebSocket/WebsocketClientChannel.cs
  src/PowerShellEditorServices.Channel.WebSocket/WebsocketServerChannel.cs
  test/PowerShellEditorServices.Test.Channel.WebSocket/PowerShellEditorServices.Test.Channel.WebSocket.csproj
  test/PowerShellEditorServices.Test.Channel.WebSocket/WebSocketChannelTest.cs
  test/PowerShellEditorServices.Test.Channel.WebSocket/app.config
Owners: @tylerl0706, @rjmholt

Delete stale WebSocket code (#977)
  src/PowerShellEditorServices.Channel.WebSocket/PowerShellEditorServices.Channel.WebSocket.csproj
  src/PowerShellEditorServices.Channel.WebSocket/WebsocketClientChannel.cs
  src/PowerShellEditorServices.Channel.WebSocket/WebsocketServerChannel.cs
  test/PowerShellEditorServices.Test.Channel.WebSocket/PowerShellEditorServices.Test.Channel.WebSocket.csproj
  test/PowerShellEditorServices.Test.Channel.WebSocket/WebSocketChannelTest.cs
  test/PowerShellEditorServices.Test.Channel.WebSocket/app.config
Owners: @tylerl0706, @rjmholt

Refactor build logic to avoid saving modules in subfolders
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

update dependency in PsesPsClient as well (which is not part of the solution)
  tools/PsesPsClient/PsesPsClient.csproj
Owners: @tylerl0706, @rjmholt

Address review comments
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Update README.md
  README.md
Owners: @tylerl0706, @rjmholt

Mention lsp-powershell, an Emacs lsp-mode client that leverage PowerShellEditorServices (#982)
  README.md
Owners: @tylerl0706, @rjmholt

Defend against crash when no PSSA (#974)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Update NewtonSoft.Json dependency from 10.0.3 to 11.02 since PS 6.0 has been deprecated (#981)
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  tools/PsesPsClient/PsesPsClient.csproj
Owners: @tylerl0706, @rjmholt

Changes
  src/PowerShellEditorServices.Engine/LanguageServer/OmnisharpLanguageServer.cs
  src/PowerShellEditorServices.Engine/LanguageServerSettings.cs
  src/PowerShellEditorServices.Engine/Logging/LoggerExtensions.cs
  src/PowerShellEditorServices.Engine/PowerShellEditorServices.Engine.csproj
  src/PowerShellEditorServices.Engine/Services/Analysis/AnalysisService.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/BufferPosition.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/BufferRange.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/FileChange.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/FilePosition.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/Handlers/TextDocumentNotificationHandler.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/ScriptFile.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/ScriptFileMarker.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/ScriptRegion.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/Workspace.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/WorkspaceFileSystemWrapper.cs
  src/PowerShellEditorServices.Engine/Utility/DotNetFacade.cs
  src/PowerShellEditorServices.Engine/Utility/PathUtils.cs
  src/PowerShellEditorServices.Engine/Utility/Validate.cs
Owners: @tylerl0706, @rjmholt

Swap logic for checking folder is empty
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

ipmo modules correctly and don't sync while debugging
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/RunspaceSynchronizer.cs
Owners: @tylerl0706, @rjmholt

refactor and hook up setting to the key handler
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/RunspaceSynchronizer.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

add tests
  test/PowerShellEditorServices.Test.Shared/RunspaceSynchronizer/testModule.psm1
  test/PowerShellEditorServices.Test/Language/RunspaceSynchronizerTests.cs
Owners: @tylerl0706, @rjmholt

initial runspacesynchronizer
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/RunspaceSychronizer.cs
Owners: @tylerl0706, @rjmholt

handle F8
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

change to variable value
  src/PowerShellEditorServices/Language/RunspaceSynchronizer.cs
Owners: @tylerl0706, @rjmholt

Refactor build logic to avoid saving modules in subfolders (#979)
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

v1.x: Update NewtonSoft.Json dependency from 10.0.3 to 11.02 since PS 6.0 has been deprecated. Backport of #981
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Remove PS 6.0 left overs
  PowerShellEditorServices.build.ps1
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
Owners: @tylerl0706, @rjmholt

Update NewtonSoft.Json dependency from 10.0.3 to 11.02 since PS 6.0 has been deprecated (#983)
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Update README.md
  README.md
Owners: @tylerl0706, @rjmholt

Delete using_the_dotnet_api.md
  docs/guide/using_the_dotnet_api.md
Owners: @tylerl0706, @rjmholt

Add more elapsed time log messages for dispatching
  src/PowerShellEditorServices.Protocol/MessageProtocol/ProtocolEndpoint.cs
Owners: @tylerl0706, @rjmholt

Add XML comment for AsyncQueue.Count property
  src/PowerShellEditorServices/Utility/AsyncQueue.cs
Owners: @tylerl0706, @rjmholt

Per PR feedback switch to ConcurrentQueue, remove lowPriorityQueue
  src/PowerShellEditorServices.Protocol/MessageProtocol/ProtocolEndpoint.cs
  src/PowerShellEditorServices/Utility/AsyncQueue.cs
Owners: @tylerl0706, @rjmholt

Undo incomplete changes to PsesAnalyzer - for now
  tools/PsesLogAnalyzer/Analyze.ps1
  tools/PsesLogAnalyzer/Types.ps1
Owners: @tylerl0706, @rjmholt

WIP initial (poor performing) atttemp at using a msg queue for JsonRPC
  src/PowerShellEditorServices.Protocol/MessageProtocol/Message.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/ProtocolEndpoint.cs
  src/PowerShellEditorServices/Utility/AsyncQueue.cs
Owners: @tylerl0706, @rjmholt

Only set this.SynchronizationContext in the DequeueAndDispatchMessages thread proc
  src/PowerShellEditorServices.Protocol/MessageProtocol/ProtocolEndpoint.cs
Owners: @tylerl0706, @rjmholt

Need another AsyncContextThread for dequeue/dispatch thread
  src/PowerShellEditorServices.Protocol/MessageProtocol/ProtocolEndpoint.cs
  tools/PsesLogAnalyzer/Analyze.ps1
  tools/PsesLogAnalyzer/Types.ps1
Owners: @tylerl0706, @rjmholt

Addess one Codacy issue on static field access in ctor
  src/PowerShellEditorServices.Protocol/MessageProtocol/ProtocolEndpoint.cs
Owners: @tylerl0706, @rjmholt

testing removing consoleecho
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @SeeminglyScience

conditional logic for PS6
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Console/UnixConsoleOperations.cs
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
  src/PowerShellEditorServices/Utility/Utils.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

add dummy workspace symbols handler
  PowerShellEditorServices.sln
  src/PowerShellEditorServices.Engine/Hosting/EditorServicesHost.cs
  src/PowerShellEditorServices.Engine/LanguageServer/OmnisharpLanguageServer.cs
  src/PowerShellEditorServices.Engine/Services/Workspace/Handlers/WorkspaceSymbolsHandler.cs
  test/Pester/EditorServices.Integration.Tests.ps1
Owners: @tylerl0706, @rjmholt

use LoggerFactory
  src/PowerShellEditorServices.Engine/Hosting/EditorServicesHost.cs
  src/PowerShellEditorServices.Engine/Services/Workspace/Handlers/WorkspaceSymbolsHandler.cs
Owners: @tylerl0706, @rjmholt

A working WorkspaceSymbolsHandler
  src/PowerShellEditorServices.Engine/Hosting/EditorServicesHost.cs
  src/PowerShellEditorServices.Engine/LanguageServer/OmnisharpLanguageServer.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/FindSymbolVisitor.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/FindSymbolsVisitor.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/FindSymbolsVisitor2.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/IDocumentSymbolProvider.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/IDocumentSymbols.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/PesterDocumentSymbolProvider.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/PsdDocumentSymbolProvider.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/ScriptDocumentSymbolProvider.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/ScriptExtent.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/SymbolReference.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/SymbolType.cs
  src/PowerShellEditorServices.Engine/Services/Symbols/SymbolsService.cs
  src/PowerShellEditorServices.Engine/Services/TextDocument/ScriptFile.cs
  src/PowerShellEditorServices.Engine/Services/Workspace/Handlers/WorkspaceSymbolsHandler.cs
  src/PowerShellEditorServices.Engine/Services/Workspace/WorkspaceFileSystemWrapper.cs
  src/PowerShellEditorServices.Engine/Services/Workspace/WorkspaceService.cs
  src/PowerShellEditorServices.Engine/Utility/DotNetFacade.cs
  src/PowerShellEditorServices.Engine/Utility/PathUtils.cs
  src/PowerShellEditorServices.Engine/Utility/VersionUtils.cs
Owners: @tylerl0706, @rjmholt
