Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience

Avoid System.Runtime.InteropServices.RuntimeInformation.OSArchitecture in win7 on .NET Framework
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @SeeminglyScience

Fix whitespace
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @SeeminglyScience

Add net451 startup error
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Get registry property in a PSv3 compatible way
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Fix platform comparison
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @SeeminglyScience

Win7 OSArchitecture crash workaround (#808)
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Fix debugging deadlock (#807)
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
Owners: @tylerl0706, @rjmholt

Changelog for 1.10.1
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Fix date
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Changelog for 1.10.1 (#809)
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

get rid of git call
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

check for git
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

check for git (#810)
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

(GH-811) Fix folding for regions with same end token
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

(GH-811) Add support for unopinionated variable name in folder
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

(GH-811) Add negative folding test for splatting
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

Move arrays to static
  src/PowerShellEditorServices/Language/TokenOperations.cs
Owners: @tylerl0706, @rjmholt

Fix folding with spanning regions (#805)
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Increment version
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Fix crash when untitled files are opened as PowerShell
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

(GH-813) Use AST for code folding
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/FindFoldsVisitor.cs
  src/PowerShellEditorServices/Language/FoldingOperations.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

(GH-812) Update folder for DSC style scripts
  src/PowerShellEditorServices/Language/FindFoldsVisitor.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Increment version (#816)
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

(GH-813) Use AST for code folding
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/FindFoldsVisitor.cs
  src/PowerShellEditorServices/Language/FoldingOperations.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

(GH-813) Refactor the FoldingReference arrays and lists into it's own class
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/FindFoldsVisitor.cs
  src/PowerShellEditorServices/Language/FoldingOperations.cs
  src/PowerShellEditorServices/Language/FoldingReference.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

PSReadLine integration (#672)
  .gitignore
  PowerShellEditorServices.build.ps1
  appveyor.yml
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Console/IConsoleOperations.cs
  src/PowerShellEditorServices/Console/UnixConsoleOperations.cs
  src/PowerShellEditorServices/Console/WindowsConsoleOperations.cs
  src/PowerShellEditorServices/Debugging/DebugService.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Session/ExecutionOptions.cs
  src/PowerShellEditorServices/Session/ExecutionTarget.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHost.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  src/PowerShellEditorServices/Session/IPromptContext.cs
  src/PowerShellEditorServices/Session/IVersionSpecificOperations.cs
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
  src/PowerShellEditorServices/Session/LegacyReadLineContext.cs
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
  src/PowerShellEditorServices/Session/PSReadLineProxy.cs
  src/PowerShellEditorServices/Session/PipelineExecutionRequest.cs
  src/PowerShellEditorServices/Session/PowerShell3Operations.cs
  src/PowerShellEditorServices/Session/PowerShell4Operations.cs
  src/PowerShellEditorServices/Session/PowerShell5Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Session/PromptNest.cs
  src/PowerShellEditorServices/Session/PromptNestFrame.cs
  src/PowerShellEditorServices/Session/PromptNestFrameType.cs
  src/PowerShellEditorServices/Session/RunspaceHandle.cs
  src/PowerShellEditorServices/Session/ThreadController.cs
  src/PowerShellEditorServices/Utility/AsyncLock.cs
  src/PowerShellEditorServices/Utility/AsyncQueue.cs
  src/PowerShellEditorServices/Utility/AsyncUtils.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/PowerShellContextFactory.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience, @rkeithhill

Use latest PSReadLine (#745)
  PowerShellEditorServices.build.ps1
  appveyor.yml
  modules.json
  scripts/travis.ps1
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

[Ignore] Fix rebase errors, migrate upstream tests
  src/PowerShellEditorServices/Language/LanguageService.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Fix test typos
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
  src/PowerShellEditorServices/Language/LanguageService.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Use correct AppVeyor version
  appveyor.yml
Owners: @tylerl0706, @rjmholt

Set Runspaces to use STA when running in Windows PowerShell (#769)
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Update PSStandard dependency (#771)
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
Owners: @tylerl0706, @rjmholt

Removed ShowOnlineHelp Message (#775)
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

[Ignore] no need for package sources (#803)
  NuGet.Config
Owners: @tylerl0706, @rjmholt

fix rebase issues
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

to trigger ci
  appveyor.yml
Owners: @tylerl0706, @rjmholt

fix a test path
  test/PowerShellEditorServices.Test.Shared/Definition/FindsDotSourcedFile.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
Owners: @tylerl0706, @rjmholt

fix rebase
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Use case insensitive dictionary for Pester keyword lookup so that code lens shows when using lower cased describe keyword
  src/PowerShellEditorServices/Symbols/PesterDocumentSymbolProvider.cs
Owners: @tylerl0706, @rjmholt

Use case insensitive dictionary for Pester keyword lookup so that code lens shows when using lower cased describe keyword (#823)
  src/PowerShellEditorServices/Symbols/PesterDocumentSymbolProvider.cs
Owners: @tylerl0706, @rjmholt
