Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

workaround attach problems
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

use string compare since type is not in PSv3
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

Update src/PowerShellEditorServices/Session/RunspaceDetails.cs
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

use full assembly name
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

null check
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

Add Codacy badge
  README.md
Owners: @tylerl0706, @rjmholt

fix #1689
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

fix #1689 (#848)
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Add Codacy badge (#847)
  README.md
Owners: @tylerl0706, @rjmholt

Workaround "attach to process" hang (#846)
  src/PowerShellEditorServices/Session/RunspaceDetails.cs
Owners: @tylerl0706, @rjmholt

Update various NuGet packages (#829)
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt

(GH-824) Refactor the FoldingReference arrays and lists into it's own class
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Language/FoldingReference.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

(GH-824) More strict block comment folding detection
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

(GH-824) Refactor Token Folding Operations
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Language/FoldingReference.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

(GH-812) Update folder for DSC style scripts
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

update to preview version
  PowerShellEditorServices.Common.props
  appveyor.yml
Owners: @tylerl0706, @rjmholt

use VersionSuffix
  PowerShellEditorServices.Common.props
Owners: @tylerl0706, @rjmholt

switch to test from xunit
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

update compression for logs
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

update Dockerfile to install netfx-461-devpack
  tools/releaseBuild/Image/DockerFile
Owners: @tylerl0706, @rjmholt

(GH-824)(GH-812) Improve code folding speed (#825)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Language/FoldingReference.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

Fix VSCODE 1683 - HelpCommentReqHdlr crash on GetFile
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix #827 Pester TestName w/expandable str returns nothing
  src/PowerShellEditorServices/Symbols/PesterDocumentSymbolProvider.cs
Owners: @tylerl0706, @rjmholt

Fix VSCODE 1683 - HelpCommentReqHdlr crash on GetFile (#850)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Address PR feedback, simplify logic
  src/PowerShellEditorServices/Symbols/PesterDocumentSymbolProvider.cs
Owners: @tylerl0706, @rjmholt

Fix #827 Pester TestName w/expandable str returns nothing (#851)
  src/PowerShellEditorServices/Symbols/PesterDocumentSymbolProvider.cs
Owners: @tylerl0706, @rjmholt

Set Runspaces to use STA when running in Windows PowerShell (#769)
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Removed ShowOnlineHelp Message (#775)
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Revert "Fix #827 Pester TestName w/expandable str returns nothing (#851)"
  src/PowerShellEditorServices/Symbols/PesterDocumentSymbolProvider.cs
Owners: @tylerl0706, @rjmholt

Revert "Revert "Fix #827 Pester TestName w/expandable str returns nothing (#851)""
  src/PowerShellEditorServices/Symbols/PesterDocumentSymbolProvider.cs
Owners: @tylerl0706, @rjmholt

(maint) Reinstate test filtering
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

(GH-813) Use AST for code folding
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/FindFoldsVisitor.cs
  src/PowerShellEditorServices/Language/FoldingOperations.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

send describe block line and info whether pester 4.6.0 is available to extension
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

🔧 update signing file tidy up build scripts
  PowerShellEditorServices.build.ps1
  tools/releaseBuild/Image/DockerFile
  tools/releaseBuild/signing.xml
Owners: @tylerl0706, @rjmholt

send only describeBlockLineNumber as nullable int over the wire to PSES to address PR feedback
  src/PowerShellEditorServices.Host/CodeLens/PesterCodeLensProvider.cs
Owners: @SeeminglyScience

Use RTM version of ps sdk and ps standard
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

make ps standard consistent
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
Owners: @tylerl0706, @rjmholt

upgrade test sdk and enable branch builds
  appveyor.yml
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt

upgrade serilog
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
Owners: @tylerl0706, @rjmholt

🔧 update signing file tidy up build scripts (#857)
  PowerShellEditorServices.build.ps1
  tools/releaseBuild/Image/DockerFile
  tools/releaseBuild/signing.xml
Owners: @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
