Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience

Qualify the things
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

cleanup of some things
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Update summary for classes.
  src/PowerShellEditorServices.Protocol/LanguageServer/GetCommandRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Replace bad StringReader usage with String.Split() (#784)
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Address PR comments by switching to StringBuilder
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix code review issues
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

[ PowerShell/PowerShellEditorServices#785 PR ] Cleanup: refactorings, code style and reformat
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Lessen log output a bit - remove 'method' and [] around the thread id
  src/PowerShellEditorServices/Utility/PsesLogger.cs
Owners: @tylerl0706, @rjmholt

Add managed thread id to log output to add debugging threading issues (#790)
  src/PowerShellEditorServices/Utility/PsesLogger.cs
Owners: @tylerl0706, @rjmholt

Remove extra filesToAnalyze empty array check per PR feedback
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Address PR feedback on StringBuilder
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix indentation issue as per PR feedback
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Add support for a "Show Documentation" quick fix menu entry (#789)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/ScriptFileMarker.cs
Owners: @tylerl0706, @rjmholt

Fix Pester CodeLens run/debug by not quoting params/already quoted args
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

Revert to not escape/quoting args or script value when not a file path
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Optimize array creation
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Recurse directories manually with a stack
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Add handled exception logging as warning
  src/PowerShellEditorServices/Utility/PsesLogger.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Add handled exception logging to ILogger
  src/PowerShellEditorServices.Host/BuildInfo/BuildInfo.cs
  src/PowerShellEditorServices/Utility/Logging.cs
  src/PowerShellEditorServices/Utility/PsesLogger.cs
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

Fix Directory.GetDirectories usage
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Revert change to buildinfo file
  src/PowerShellEditorServices.Host/BuildInfo/BuildInfo.cs
Owners: @SeeminglyScience

Fix Pester CodeLens run/debug by not quoting params/already quoted args (#794)
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

remove e in excpe
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
Owners: @tylerl0706, @rjmholt

Adds ability to use separate pipes for reading and writing (#785)
  module/PowerShellEditorServices/PowerShellEditorServices.psm1
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

(GH-793) Add simple folding range provider capability
  src/PowerShellEditorServices.Protocol/LanguageServer/ServerCapabilities.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Eliminate AddScript (among other things)
  src/PowerShellEditorServices.Protocol/LanguageServer/GetCommandRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

(GH-793) Add support for Folding Range client settings
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

(GH-793) Use 2.0 Async method name
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

(GH-793) Add a folding provider and tests
  src/PowerShellEditorServices.Protocol/LanguageServer/Folding.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Language/FoldingReference.cs
  src/PowerShellEditorServices/Language/TokenOperations.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

Clean up some commented code. Fully Qualify the namespace of stuffs... Something about Async...
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Code cleanup of the start script and ESHost.cs file
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Replace preprocessor directive in PathUtils
  src/PowerShellEditorServices/Utility/PathUtils.cs
Owners: @tylerl0706, @rjmholt

Address PR feedback - remove redundant version checking, add comment
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Address PR feedback - use parameter labels and named parameters
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @SeeminglyScience

Code cleanup of the start script and ESHost.cs file (#796)
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Add standard log template
  src/PowerShellEditorServices/Utility/PsesLogger.cs
Owners: @tylerl0706, @rjmholt

Add doc comments for new method
  src/PowerShellEditorServices/Utility/PsesLogger.cs
Owners: @tylerl0706, @rjmholt

Add recursion limit logging
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Fix usage of indentation logic
  src/PowerShellEditorServices/Utility/PsesLogger.cs
Owners: @tylerl0706, @rjmholt

Fix file recursion overflow problems (#795)
  src/PowerShellEditorServices/Utility/Logging.cs
  src/PowerShellEditorServices/Utility/PsesLogger.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt
