Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

Remove ThreadStatic from property
  src/PowerShellEditorServices/Utility/ExecutionTimer.cs
Owners: @tylerl0706, @rjmholt

Add obsolete warnings to deprecated APIs, add bad API back in
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Fix NRE when trying to start the stopwatch (#747)
  src/PowerShellEditorServices/Utility/ExecutionTimer.cs
Owners: @tylerl0706, @rjmholt

Fix crash for finding symbols on bad paths
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Protect against UnauthorizedAccessException as well
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Remove Online from filename
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
Owners: @tylerl0706, @rjmholt

Tidy up. Resolve comments from PR.
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix issue where # in path causes the path to resolve incorrectly
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

Fix tests, add workaround for escaped drive colon
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

Add RuntimeInformation for CoreCLR
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Change multiline if expression style
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Fix crash for finding symbols on bad paths (#749)
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Fix index out-of-range exception when deleting script files (#748)
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Use simple pwsh process name
  test/PowerShellEditorServices.Test.Host/ServerTestsBase.cs
Owners: @tylerl0706, @rjmholt

Change test paths back to ensure backslack supported on *nix
  test/PowerShellEditorServices.Test.Shared/References/ReferenceFileA.ps1
Owners: @tylerl0706, @rjmholt

Fix Typo. Adjust whitespace.
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Change Get-Help behavior to return local help when no online help available (#721)
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix issue where # in path causes the path to resolve incorrectly (#750)
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

Fix session details gathering in nested prompts
  src/PowerShellEditorServices/Session/PowerShellContext.cs
Owners: @tylerl0706, @rjmholt

Ensure local help is displayed in the console
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

[Style] Add newline in ShowHelpRequest.cs
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
Owners: @tylerl0706, @rjmholt

Add iwr online help check, fall back to local help more intelligently
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Prepare 1.9.0 release
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Use modern TLS version to get help
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Simplify try finally
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Add 5s timeout to IWR ping of help page
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Module-qualify IWR call
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Enforce Get-Help offline dropback when page or internet is down (#752)
  src/PowerShellEditorServices.Protocol/LanguageServer/ShowHelpRequest.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Prepare 1.9.0 release (#753)
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

[Ignore] Increment version
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Fix completions not being added to list
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Fix completions not being added to list (#756)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix signature handler regression
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Fix bad variable usage
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Fix signature handler regression (#757)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Increment version (#755)
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

Address @tylerl0706's feedback
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

Clean up temp file for nupkgs
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

PSReadLine integration (#672)
  .gitignore
  PowerShellEditorServices.build.ps1
  appveyor.yml
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Host/EditorServicesHost.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Console/ConsoleProxy.cs
  src/PowerShellEditorServices/Console/ConsoleReadLine.cs
  src/PowerShellEditorServices/Console/IConsoleOperations.cs
  src/PowerShellEditorServices/Console/UnixConsoleOperations.cs
  src/PowerShellEditorServices/Console/WindowsConsoleOperations.cs
  src/PowerShellEditorServices/Debugging/DebugService.cs
  src/PowerShellEditorServices/Language/AstOperations.cs
  src/PowerShellEditorServices/Language/LanguageService.cs
  src/PowerShellEditorServices/Session/ExecutionOptions.cs
  src/PowerShellEditorServices/Session/ExecutionTarget.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHost.cs
  src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs
  src/PowerShellEditorServices/Session/IPromptContext.cs
  src/PowerShellEditorServices/Session/IVersionSpecificOperations.cs
  src/PowerShellEditorServices/Session/InvocationEventQueue.cs
  src/PowerShellEditorServices/Session/LegacyReadLineContext.cs
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
  src/PowerShellEditorServices/Session/PSReadLineProxy.cs
  src/PowerShellEditorServices/Session/PipelineExecutionRequest.cs
  src/PowerShellEditorServices/Session/PowerShell3Operations.cs
  src/PowerShellEditorServices/Session/PowerShell4Operations.cs
  src/PowerShellEditorServices/Session/PowerShell5Operations.cs
  src/PowerShellEditorServices/Session/PowerShellContext.cs
  src/PowerShellEditorServices/Session/PromptNest.cs
  src/PowerShellEditorServices/Session/PromptNestFrame.cs
  src/PowerShellEditorServices/Session/PromptNestFrameType.cs
  src/PowerShellEditorServices/Session/RunspaceHandle.cs
  src/PowerShellEditorServices/Session/ThreadController.cs
  src/PowerShellEditorServices/Utility/AsyncLock.cs
  src/PowerShellEditorServices/Utility/AsyncQueue.cs
  src/PowerShellEditorServices/Utility/AsyncUtils.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/PowerShellContextFactory.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience, @rkeithhill

Use latest PSReadLine (#745)
  PowerShellEditorServices.build.ps1
  appveyor.yml
  modules.json
  scripts/travis.ps1
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
