Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

Use Id for dictionary since multiple pages could have the same title
  src/PowerShellEditorServices.VSCode/CustomViews/CustomViewFeature.cs
Owners: @tylerl0706, @rjmholt

Add script for auto-update of ADS
  scripts/updateAzDataStudio.ps1
Owners: @tylerl0706, @rjmholt

Finalize tested script
  scripts/updateAzDataStudio.ps1
Owners: @tylerl0706, @rjmholt

Add maintainer modification rights
  scripts/updateAzDataStudio.ps1
Owners: @tylerl0706, @rjmholt

Publish Pester results in CI
  .vsts-ci/azure-pipelines-ci.yml
  .vsts-ci/templates/ci-general.yml
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Remove .vscode folder
  tools/PsesPsClient/.vscode/launch.json
Owners: @tylerl0706, @rjmholt

Fix typo
  .vsts-ci/templates/ci-general.yml
Owners: @tylerl0706, @rjmholt

Fix NRE in test
  test/Pester/EditorServices.Integration.Tests.ps1
Owners: @tylerl0706, @rjmholt

Improve client module building
  test/Pester/EditorServices.Integration.Tests.ps1
  tools/PsesPsClient/LspPipe.cs
  tools/PsesPsClient/PsesPsClient.csproj
  tools/PsesPsClient/PsesPsClient.psd1
  tools/PsesPsClient/PsesPsClient.psm1
  tools/PsesPsClient/build.ps1
Owners: @tylerl0706, @rjmholt

Pass through dotnet location
  PowerShellEditorServices.build.ps1
  tools/PsesPsClient/build.ps1
Owners: @tylerl0706, @rjmholt

Ensure new enough Pester is installed
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Add -Force flag
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

codacy got me
  src/PowerShellEditorServices.VSCode/CustomViews/CustomViewFeature.cs
Owners: @tylerl0706, @rjmholt

Fix silent failure by using Id for dictionary since multiple pages could have the same title (#947)
  src/PowerShellEditorServices.VSCode/CustomViews/CustomViewFeature.cs
Owners: @tylerl0706, @rjmholt

Fix silent failure by using Id for dictionary since multiple pages could have the same title (#947)
  src/PowerShellEditorServices.VSCode/CustomViews/CustomViewFeature.cs
Owners: @tylerl0706, @rjmholt

Update tools/PsesPsClient/PsesPsClient.psd1
  tools/PsesPsClient/PsesPsClient.psd1
Owners: @tylerl0706, @rjmholt

Rework module, address @TylerLeonhardt's feedback
  PowerShellEditorServices.build.ps1
  test/Pester/EditorServices.Integration.Tests.ps1
  tools/PsesPsClient/Client.cs
  tools/PsesPsClient/PsesPsClient.psd1
  tools/PsesPsClient/PsesPsClient.psm1
Owners: @tylerl0706, @rjmholt

Stop crash when workspace doesn't exist
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

remove native named pipes impl
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeClientChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

stop supporting 6.0.0
  module/PowerShellEditorServices/Start-EditorServices.ps1
Owners: @tylerl0706, @rjmholt

Update PowerShellEditorServices.build.ps1
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

(GH-879) Do not normalise paths from EnumeratePSFiles
  src/PowerShellEditorServices/Workspace/Workspace.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

(GH-879) Use globbing when enumerating workspace files
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Workspace/Workspace.cs
  src/PowerShellEditorServices/Workspace/WorkspaceFileSystemWrapper.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

(GH-879) Capture the editor settings and enforce file exclusions
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

Allow passing runspace name
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @rkeithhill, @tylerl0706, @rjmholt

Remove native named pipes implementation (#878)
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeClientChannel.cs
  src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs
  src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs
Owners: @tylerl0706, @rjmholt

change object to string
  src/PowerShellEditorServices.Protocol/DebugAdapter/AttachRequest.cs
Owners: @rkeithhill

Update PSReadLine
  modules.json
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Stop crash when workspace doesn't exist (#949)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
Owners: @tylerl0706, @rjmholt

Update tools/PsesPsClient/Client.cs
  tools/PsesPsClient/Client.cs
Owners: @tylerl0706, @rjmholt

(GH-879) Add filtering for CodeLens and References (#877)
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Workspace/Workspace.cs
  src/PowerShellEditorServices/Workspace/WorkspaceFileSystemWrapper.cs
  test/PowerShellEditorServices.Test/Fixtures/Workspace/nested/donotfind.ps1
  test/PowerShellEditorServices.Test/Fixtures/Workspace/nested/donotfind.txt
  test/PowerShellEditorServices.Test/Fixtures/Workspace/nested/nestedmodule.psd1
  test/PowerShellEditorServices.Test/Fixtures/Workspace/nested/nestedmodule.psm1
  test/PowerShellEditorServices.Test/Fixtures/Workspace/other/other.cdxml
  test/PowerShellEditorServices.Test/Fixtures/Workspace/other/other.ps1xml
  test/PowerShellEditorServices.Test/Fixtures/Workspace/other/other.psrc
  test/PowerShellEditorServices.Test/Fixtures/Workspace/other/other.pssc
  test/PowerShellEditorServices.Test/Fixtures/Workspace/rootfile.ps1
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Owners: @tylerl0706, @rjmholt

Update to PSReadLine 2.0.0-beta4 (#952)
  modules.json
  src/PowerShellEditorServices/Session/PSReadLinePromptContext.cs
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

Add server output to integration test
  PowerShellEditorServices.build.ps1
  test/Pester/EditorServices.Integration.Tests.ps1
  tools/PsesPsClient/PsesPsClient.psm1
  tools/PsesPsClient/build.ps1
Owners: @tylerl0706, @rjmholt

Try stderr recording
  test/Pester/EditorServices.Integration.Tests.ps1
  tools/PsesPsClient/PsesPsClient.psm1
Owners: @tylerl0706, @rjmholt

Try procinfo
  test/Pester/EditorServices.Integration.Tests.ps1
  tools/PsesPsClient/PsesPsClient.psm1
Owners: @tylerl0706, @rjmholt

Don't use stream when it doesn't exist
  test/Pester/EditorServices.Integration.Tests.ps1
Owners: @tylerl0706, @rjmholt

Try again with error file
  test/Pester/EditorServices.Integration.Tests.ps1
  tools/PsesPsClient/PsesPsClient.psm1
Owners: @tylerl0706, @rjmholt

Use log parser to find errors
  test/Pester/EditorServices.Integration.Tests.ps1
Owners: @tylerl0706, @rjmholt

Add test exception for pwsh pipe close error
  test/Pester/EditorServices.Integration.Tests.ps1
  tools/PsesPsClient/PsesPsClient.psm1
Owners: @tylerl0706, @rjmholt

Improve error message
  test/Pester/EditorServices.Integration.Tests.ps1
Owners: @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
