Repository PowerShell/PowerShellEditorServices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tylerl0706, @rjmholt, @rkeithhill, @SeeminglyScience

fix references crash
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

upgrade to net452 since net451 is not supported any more
  PowerShellEditorServices.build.ps1
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Channel.WebSocket/PowerShellEditorServices.Channel.WebSocket.csproj
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  src/PowerShellEditorServices.VSCode/PowerShellEditorServices.VSCode.csproj
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

update docs and docker image
  README.md
  src/PowerShellEditorServices.Host/App.config
  tools/releaseBuild/Image/DockerFile
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

update various nuget packages
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt

use .Net Core 2.1 for testing since 2.0 is not supported any more
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt

allow fork build
  appveyor.yml
Owners: @tylerl0706, @rjmholt

update nuget packages and cleanup and add 5.1 reference assemblies
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  test/PowerShellEditorServices.Test.Channel.WebSocket/PowerShellEditorServices.Test.Channel.WebSocket.csproj
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @SeeminglyScience, @tylerl0706, @rjmholt

use psstandard everywhere
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt

update other nuget packages
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Protocol/PowerShellEditorServices.Test.Protocol.csproj
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Owners: @tylerl0706, @rjmholt

Revert "allow fork build"
  appveyor.yml
Owners: @tylerl0706, @rjmholt

update .net core sdk to 2.1.500
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

address feedback
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

Change TODO to discussion note
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

Fix crash when untitled files are opened as PowerShell (#815)
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
Owners: @tylerl0706, @rjmholt

(maint) Add Xunit Trait Filter
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

Fix duplicate references crash (#826)
  src/PowerShellEditorServices/Language/LanguageService.cs
Owners: @tylerl0706, @rjmholt

[Ignore] Add Xunit Trait Filter (#818)
  PowerShellEditorServices.build.ps1
Owners: @tylerl0706, @rjmholt

[Ignore] Changelog 1.10.2
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Update version
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

[Ignore] Changelog 1.10.2 (#833)
  CHANGELOG.md
Owners: @tylerl0706, @rjmholt

Mao new powershell.codeformatting settings WhitespaceInsideBrace and WhitespaceAroundPipe to PSSA settings hash table
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

add PipelineIndentationStyle mapping
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

(maint) Add traits for folding tests
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

Fix FileNotFoundEx crash when Fold happens on untitled: scheme doc
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Update version (#834)
  PowerShellEditorServices.Common.props
  appveyor.yml
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Owners: @tylerl0706, @rjmholt

(maint) Add traits for folding tests (#837)
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

Address PR feedback, use TryGetFile() instead of modifying GetFile
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Revise ScriptFile prop init to happen within ParseFileContents & add tests
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Fix typos
  module/docs/PowerShellEditorServices.Commands.md
Owners: @tylerl0706, @rjmholt

Fix typos (#842)
  module/docs/PowerShellEditorServices.Commands.md
Owners: @tylerl0706, @rjmholt

Simplify the parameter descriptions and fix typos
  module/docs/Find-Ast.md
Owners: @tylerl0706, @rjmholt

Fix an empty verbose message when importing an editor command
  module/PowerShellEditorServices/Commands/Public/Import-EditorCommand.ps1
Owners: @tylerl0706, @rjmholt

Fix NullRefEx bug when accessing scriptFile.ReferencedFiles (#838)
  src/PowerShellEditorServices/Workspace/ScriptFile.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Owners: @tylerl0706, @rjmholt

Fix FileNotFoundEx crash when Fold happens on untitled: scheme doc (#839)
  src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs
  src/PowerShellEditorServices/Workspace/Workspace.cs
Owners: @tylerl0706, @rjmholt

Simplify the parameter descriptions and fix typos (#843)
  module/docs/Find-Ast.md
Owners: @tylerl0706, @rjmholt

Fix an empty verbose message when importing an editor command (#844)
  module/PowerShellEditorServices/Commands/Public/Import-EditorCommand.ps1
Owners: @tylerl0706, @rjmholt

Compile against net452 because net451 is not supported any more (#828)
  PowerShellEditorServices.build.ps1
  README.md
  module/PowerShellEditorServices/Start-EditorServices.ps1
  src/PowerShellEditorServices.Channel.WebSocket/PowerShellEditorServices.Channel.WebSocket.csproj
  src/PowerShellEditorServices.Host/App.config
  src/PowerShellEditorServices.Host/PowerShellEditorServices.Host.csproj
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
  src/PowerShellEditorServices.VSCode/PowerShellEditorServices.VSCode.csproj
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  tools/releaseBuild/Image/DockerFile
Owners: @tylerl0706, @rjmholt, @SeeminglyScience

(maint) Add tests for code folding for PowerShell classes
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
Owners: @tylerl0706, @rjmholt

update to latest patch of System.IO.Pipes.AccessControl
  src/PowerShellEditorServices.Protocol/PowerShellEditorServices.Protocol.csproj
Owners: @tylerl0706, @rjmholt

add UseCorrectCasing
  src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs
Owners: @tylerl0706, @rjmholt

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# Global reviewers
* @tylerl0706 @rjmholt

# Area: Analysis & Formatting
src/PowerShellEditorServices/Analysis/                 @rjmholt

# Area: Debugging
src/PowerShellEditorServices/Debugging/                @rkeithhill
src/PowerShellEditorServices.Protocol/DebugAdapter/    @rkeithhill

# Area: Integrated Console / Host
src/PowerShellEditorServices/Console/                  @SeeminglyScience
src/PowerShellEditorServices/Session/*ReadLine*.cs     @SeeminglyScience
src/PowerShellEditorServices.Host/                     @SeeminglyScience
