Repository PowerShell/PowerShellEditorServices, pull requests merged in 2021-03, with the labels that each got.

#1426 Bump CI images and enable tests on Apple M1
  .vsts-ci/azure-pipelines-ci.yml
  PowerShellEditorServices.build.ps1
  PowerShellEditorServices.sln
  src/PowerShellEditorServices.Hosting/PowerShellEditorServices.Hosting.csproj
  src/PowerShellEditorServices/Utility/VersionUtils.cs
  test/PowerShellEditorServices.Test.E2E/LanguageServerProtocolMessageTests.cs
  test/PowerShellEditorServices.Test.E2E/PowerShellEditorServices.Test.E2E.csproj
  test/PowerShellEditorServices.Test.Host/App.config
  test/PowerShellEditorServices.Test.Host/AssemblyInfo.cs
  test/PowerShellEditorServices.Test.Host/AttachHelper.cs
  test/PowerShellEditorServices.Test.Host/DebugAdapterTests.cs
  test/PowerShellEditorServices.Test.Host/LanguageServerTests.cs
  test/PowerShellEditorServices.Test.Host/OutputReader.cs
  test/PowerShellEditorServices.Test.Host/PowerShellEditorServices.Test.Host.csproj
  test/PowerShellEditorServices.Test.Host/ServerTestsBase.cs
  test/PowerShellEditorServices.Test.Host/TestFiles/ChildModule/ChildModule.psm1
  test/PowerShellEditorServices.Test.Host/TestFiles/CompleteFunctionName.ps1
  test/PowerShellEditorServices.Test.Host/TestFiles/FindReferences.ps1
  test/PowerShellEditorServices.Test.Host/TestFiles/Folder With Spaces/.gitkeep
  test/PowerShellEditorServices.Test.Host/TestFiles/Module.psm1
  test/PowerShellEditorServices.Test.Host/TestFiles/MultiLineReplace.ps1
  test/PowerShellEditorServices.Test.Host/TestFiles/SimpleSemanticError.ps1
  test/PowerShellEditorServices.Test.Host/TestFiles/SimpleSyntaxError.ps1
  test/PowerShellEditorServices.Test.Host/TestFiles/VariableDefinition.ps1
  test/PowerShellEditorServices.Test.Host/xunit.runner.json
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Labels: Area-Build & Release, Area-Test, Issue-Enhancement, OS-macOS

#1427 Add '$' as trigger character for completion
  src/PowerShellEditorServices/Services/TextDocument/Handlers/CompletionHandler.cs
Labels: Area-IntelliSense, Issue-Enhancement

#1424 Update to use OmniSharp 0.19.0
  PowerShellEditorServices.Common.props
  src/PowerShellEditorServices.Hosting/PowerShellEditorServices.Hosting.csproj
  src/PowerShellEditorServices.VSCode/PowerShellEditorServices.VSCode.csproj
  src/PowerShellEditorServices/Logging/PsesTelemetryEvent.cs
  src/PowerShellEditorServices/PowerShellEditorServices.csproj
  src/PowerShellEditorServices/Server/PsesLanguageServer.cs
  src/PowerShellEditorServices/Services/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices/Services/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices/Services/DebugAdapter/DebugEventHandlerService.cs
  src/PowerShellEditorServices/Services/DebugAdapter/Handlers/DebuggerActionHandlers.cs
  src/PowerShellEditorServices/Services/DebugAdapter/Handlers/LaunchAndAttachHandler.cs
  src/PowerShellEditorServices/Services/DebugAdapter/Handlers/ThreadsHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/CodeActionHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/CodeLensHandlers.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/CompletionHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/DefinitionHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/DocumentHighlightHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/DocumentSymbolHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/FoldingRangeHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/FormattingHandlers.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/HoverHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/PsesSemanticTokensHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/ReferencesHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/SignatureHelpHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/TextDocumentHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/SemanticToken.cs
  src/PowerShellEditorServices/Services/Workspace/Handlers/ConfigurationHandler.cs
  src/PowerShellEditorServices/Services/Workspace/Handlers/WorkspaceSymbolsHandler.cs
  test/PowerShellEditorServices.Test.E2E/DebugAdapterClientExtensions.cs
  test/PowerShellEditorServices.Test.E2E/DebugAdapterProtocolMessageTests.cs
  test/PowerShellEditorServices.Test.E2E/LSPTestsFixures.cs
  test/PowerShellEditorServices.Test.E2E/LanguageServerProtocolMessageTests.cs
  test/PowerShellEditorServices.Test.E2E/PowerShellEditorServices.Test.E2E.csproj
  test/PowerShellEditorServices.Test/Language/SemanticTokenTest.cs
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Labels: Area-Language Server, Issue-Enhancement
