Repository PowerShell/PowerShellEditorServices, pull requests merged in 2021-07, with the labels that each got.

#1514 Load only bundled `PSReadLine`
  PowerShellEditorServices.Common.props
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices/Services/PowerShellContext/PowerShellContextService.cs
  src/PowerShellEditorServices/Services/PowerShellContext/Session/PSReadLinePromptContext.cs
  test/PowerShellEditorServices.Test/PowerShellContextFactory.cs
  test/PowerShellEditorServices.Test/Session/PowerShellContextTests.cs
Labels: Area-ReadLine, Issue-Enhancement

#1526 Initialize runspaces with `InitialSessionState` object
  .editorconfig
  src/PowerShellEditorServices.Hosting/Commands/StartEditorServicesCommand.cs
  src/PowerShellEditorServices.Hosting/Configuration/EditorServicesConfig.cs
  src/PowerShellEditorServices.Hosting/Internal/EditorServicesRunner.cs
  src/PowerShellEditorServices/Hosting/HostStartupInfo.cs
  src/PowerShellEditorServices/Services/PowerShellContext/PowerShellContextService.cs
  test/PowerShellEditorServices.Test/PowerShellContextFactory.cs
Labels: Area-Startup, Issue-Enhancement

#1527 Add stack trace to resolve event handler on debug
  src/PowerShellEditorServices.Hosting/EditorServicesLoader.cs
Labels: Area-Startup, Issue-Enhancement

#1528 Automate entire release process
  .github/workflows/codeql-analysis.yml
  .vsts-ci/azure-pipelines-release.yml
  .vsts-ci/templates/ci-general.yml
  .vsts-ci/templates/publish-general.yml
  .vsts-ci/templates/release-general.yml
  PowerShellEditorServices.build.ps1
  tools/azurePipelinesBuild.ps1
Labels: Area-Build & Release, Issue-Enhancement

#1530 Update release and CI pipelines
  .github/CODEOWNERS
  .vsts-ci/azure-pipelines-ci.yml
  .vsts-ci/azure-pipelines-release.yml
  .vsts-ci/misc-analysis.yml
  .vsts-ci/templates/ci-general.yml
  .vsts-ci/templates/publish-general.yml
  .vsts-ci/templates/release-general.yml
  tools/azurePipelinesBuild.ps1
Labels: Area-Build & Release, Issue-Enhancement
