Repository PowerShell/PowerShellEditorServices, pull requests merged in 2021-09, with the labels that each got.

#1569 Fix bug with `ExecuteScriptWithArgsAsync` when `script` is a command
  src/PowerShellEditorServices/Services/PowerShellContext/PowerShellContextService.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
Labels: Issue-Bug, Area-Debugging

#1571 Implement `LengthInBufferCells` to fix ANSI formatting
  src/PowerShellEditorServices/Services/PowerShellContext/Session/Host/TerminalPSHostRawUserInterface.cs
Labels: Issue-Bug, Area-Integrated Console

#1570 Send `stopDebugger` notification when appropriate
  .editorconfig
  src/PowerShellEditorServices.Hosting/Internal/EditorServicesRunner.cs
  src/PowerShellEditorServices/Services/PowerShellContext/PowerShellContextService.cs
  test/PowerShellEditorServices.Test.E2E/DebugAdapterProtocolMessageTests.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
Labels: Issue-Enhancement, Area-Debugging

#1572 Release `v2.5.1`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore
