Repository PowerShell/PowerShellEditorServices, pull requests merged in 2022-08, with the labels that each got.

#1867 Add regression test for when `prompt` is undefined
  test/PowerShellEditorServices.Test/Session/PsesInternalHostTests.cs
Labels: Issue-Enhancement, Area-Test

#1868 Release `v3.4.8`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore

#1869 Fix duplicate DiagnosticMarkers when reopening a file
  src/PowerShellEditorServices/Services/Analysis/AnalysisService.cs
Labels: Issue-Bug, Area-Script Analysis

#1870 Add `DoesNotDuplicateScriptMarkersAsync` regression test
  src/PowerShellEditorServices/Services/Analysis/AnalysisService.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Extensions/ExtensionCommandTests.cs
  test/PowerShellEditorServices.Test/Services/Symbols/PSScriptAnalyzerTests.cs
Labels: Issue-Enhancement, Area-Test

#1872 Add regression tests for parse error DiagnosticMarkers
  test/PowerShellEditorServices.Test/Services/Symbols/PSScriptAnalyzerTests.cs
  test/PowerShellEditorServices.Test/Session/ScriptFileTests.cs
Labels: Issue-Enhancement, Area-Test

#1873 Fix (and test) regression with PSScriptAnalyzer default rules
  src/PowerShellEditorServices/Services/Analysis/AnalysisService.cs
  src/PowerShellEditorServices/Services/Analysis/PssaCmdletAnalysisEngine.cs
  test/PowerShellEditorServices.Test/Services/Symbols/PSScriptAnalyzerTests.cs
Labels: Issue-Bug, Area-Script Analysis

#1871 Delete out-of-date `devcontainer` setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: Ignore

#1874 Add end-to-end integration test with Vim
  .github/workflows/emacs-test.yml
  .github/workflows/vim-test.yml
  test/.themisrc
  test/vim-test.ps1
  test/vim-test.vim
Labels: Issue-Enhancement, Area-Test

#1878 Pin .NET to 6.0.302 and 3.1.27
  .vsts-ci/templates/ci-general.yml
Labels: Issue-Bug, Area-Build & Release, Ignore

#1880 Release `v3.4.9`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore

#1881 Only run Windows PowerShell 5.1 tests on CI with `powershell.exe`
  PowerShellEditorServices.build.ps1
Labels: Issue-Enhancement, Area-Test, Ignore

#1885 Release `v3.4.10`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore

#1893 Fix whitespace in Pester symbol and add test
  src/PowerShellEditorServices/Services/Symbols/PesterDocumentSymbolProvider.cs
  test/PowerShellEditorServices.Test/Language/SymbolsServiceTests.cs
Labels: Issue-Enhancement, Area-Pester

#1890 Fix symbol highlight when hovering function name
  src/PowerShellEditorServices/Services/Symbols/Vistors/FindReferencesVisitor.cs
  src/PowerShellEditorServices/Services/Symbols/Vistors/FindSymbolVisitor.cs
  src/PowerShellEditorServices/Utility/VisitorUtils.cs
  test/PowerShellEditorServices.Test/Services/Symbols/AstOperationsTests.cs
Labels: Issue-Bug, Area-Symbols and References

#1894 Fix stepping while watch expressions or interactive pipeline is running
  src/PowerShellEditorServices/Services/DebugAdapter/DebugService.cs
  src/PowerShellEditorServices/Services/PowerShell/Debugging/PowerShellDebugContext.cs
  src/PowerShellEditorServices/Services/PowerShell/Execution/SynchronousPowerShellTask.cs
Labels: Issue-Bug, Area-Debugging

#1884 Revert "Pin .NET to 6.0.302 and 3.1.27 (#1878)"
  .vsts-ci/templates/ci-general.yml
  test/PowerShellEditorServices.Test/Language/CompletionHandlerTests.cs
Labels: Ignore

#1899 Add symbols for Pester setup and teardown blocks
  src/PowerShellEditorServices/Services/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices/Services/Symbols/PesterDocumentSymbolProvider.cs
  src/PowerShellEditorServices/Services/Workspace/Handlers/WorkspaceSymbolsHandler.cs
  test/PowerShellEditorServices.Test.Shared/Symbols/PesterFile.tests.ps1
  test/PowerShellEditorServices.Test/Language/SymbolsServiceTests.cs
Labels: Issue-Enhancement, Area-Pester

#1902 Fix file close in workspace service for Linux
  src/PowerShellEditorServices/Services/Workspace/WorkspaceService.cs
  test/PowerShellEditorServices.Test/Session/WorkspaceTests.cs
Labels: Issue-Bug, OS-Linux, Area-Workspaces

#1898 Add artificial stack frame to represent contexts without one
  src/PowerShellEditorServices/Services/DebugAdapter/DebugService.cs
  src/PowerShellEditorServices/Services/DebugAdapter/Debugging/StackFrameDetails.cs
  src/PowerShellEditorServices/Utility/PathUtils.cs
Labels: Issue-Bug, Area-Debugging

#1903 Release `v3.5.0`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore

#1907 Remove `null` markers to avoid `NullReferenceException`
  src/PowerShellEditorServices/Services/Analysis/AnalysisService.cs
Labels: Issue-Bug, Area-Script Analysis

#1908 Release `v3.5.1`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore
