Repository PowerShell/PowerShellEditorServices, pull requests merged in 2022-01, with the labels that each got.

#1652 Fix regression with `F5` to use `.` instead of `&` operator
  src/PowerShellEditorServices/Services/DebugAdapter/DebugService.cs
  src/PowerShellEditorServices/Services/DebugAdapter/Handlers/ConfigurationDoneHandler.cs
  src/PowerShellEditorServices/Utility/PSCommandExtensions.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
Labels: Issue-Bug, Area-Debugging

#1651 Enable `PsesInternalHostTests` (previously `PowerShellContextTests`)
  src/PowerShellEditorServices/Services/PowerShell/Host/PsesInternalHost.cs
  src/PowerShellEditorServices/Services/PowerShell/Utility/ErrorRecordExtensions.cs
  src/PowerShellEditorServices/Utility/PSCommandExtensions.cs
  test/PowerShellEditorServices.Test.Shared/TestUtilities/TestUtilities.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/Session/PowerShellContextTests.cs
  test/PowerShellEditorServices.Test/Session/PsesInternalHostTests.cs
Labels: Issue-Enhancement, Area-Test

#1657 Re-enable `ExtensionCommandTests.cs`
  src/PowerShellEditorServices/Services/Extension/ExtensionService.cs
  test/PowerShellEditorServices.Test/Extensions/ExtensionCommandTests.cs
  test/PowerShellEditorServices.Test/Session/PsesInternalHostTests.cs
Labels: Issue-Bug, Area-Test

#1655 Split and clean up `LanguageServiceTests.cs`
  test/PowerShellEditorServices.Test.Shared/Definition/FindsDotSourcedFile.cs
  test/PowerShellEditorServices.Test.Shared/Definition/FindsFunctionDefinition.cs
  test/PowerShellEditorServices.Test.Shared/Definition/FindsFunctionDefinitionInDotSourceReference.cs
  test/PowerShellEditorServices.Test.Shared/Definition/FindsFunctionDefinitionInWorkspace.cs
  test/PowerShellEditorServices.Test.Shared/Definition/FindsVariableDefinition.cs
  test/PowerShellEditorServices.Test.Shared/Occurrences/FindOccurrencesOnParameter.cs
  test/PowerShellEditorServices.Test.Shared/Occurrences/FindsOccurrencesOnFunction.cs
  test/PowerShellEditorServices.Test.Shared/ParameterHints/FindsParameterSetsOnCommand.cs
  test/PowerShellEditorServices.Test.Shared/ParameterHints/FindsParameterSetsOnCommandWithSpaces.cs
  test/PowerShellEditorServices.Test.Shared/References/FindsReferencesOnBuiltInCommandWithAlias.cs
  test/PowerShellEditorServices.Test.Shared/References/FindsReferencesOnFunction.cs
  test/PowerShellEditorServices.Test.Shared/References/FindsReferencesOnFunctionMultiFileDotSource.cs
  test/PowerShellEditorServices.Test.Shared/References/FindsReferencesonVariable.cs
  test/PowerShellEditorServices.Test.Shared/SymbolDetails/FindsDetailsForBuiltInCommand.cs
  test/PowerShellEditorServices.Test/Language/CompletionHandlerTests.cs
  test/PowerShellEditorServices.Test/Language/LanguageServiceTests.cs
  test/PowerShellEditorServices.Test/Language/SymbolsServiceTests.cs
Labels: Issue-Bug, Issue-Enhancement, Area-Test

#1656 Resurrect support to resolve aliased references
  src/PowerShellEditorServices/Services/CodeLens/ICodeLensProvider.cs
  src/PowerShellEditorServices/Services/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices/Services/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices/Services/PowerShell/Utility/CommandHelpers.cs
  src/PowerShellEditorServices/Services/Symbols/SymbolsService.cs
  src/PowerShellEditorServices/Services/Symbols/Vistors/AstOperations.cs
  src/PowerShellEditorServices/Services/Symbols/Vistors/FindReferencesVisitor.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/CodeLensHandlers.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/ReferencesHandler.cs
  test/PowerShellEditorServices.Test.Shared/References/FindsReferencesOnBuiltInCommandWithAlias.cs
  test/PowerShellEditorServices.Test/Language/SymbolsServiceTests.cs
  test/PowerShellEditorServices.Test/Services/Symbols/AstOperationsTests.cs
Labels: Issue-Bug, Area-CodeLens

#1658 Bump PSReadLine module to 2.2.0-beta5
  modules.json
Labels: Issue-Enhancement, Area-ReadLine

#1659 Release `v3.1.0`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore

#1660 Delete `ChoicePromptHandlerTests` and `InputPromptHandlerTests`
  test/PowerShellEditorServices.Test/Console/ChoicePromptHandlerTests.cs
  test/PowerShellEditorServices.Test/Console/InputPromptHandlerTests.cs
Labels: Issue-Bug, Area-Test

#1664 Fix `DebuggerSetsVariablesWithConversion` test
  src/PowerShellEditorServices/Services/DebugAdapter/DebugService.cs
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
  test/PowerShellEditorServices.Test/PsesHostFactory.cs
  test/PowerShellEditorServices.Test/Session/PsesInternalHostTests.cs
Labels: Issue-Bug, Area-Debugging

#1670 Handle `debuggerResult` being null in `ProcessDebuggerResult`
  src/PowerShellEditorServices/Services/PowerShell/Debugging/PowerShellDebugContext.cs
Labels: Issue-Bug, Area-Debugging

#1671 Update image for signing
  .vsts-ci/azure-pipelines-release.yml
Labels: Ignore

#1673 Only update `BuildInfo.cs` if changed
  PowerShellEditorServices.build.ps1
Labels: Ignore

#1676 Use EditorConfig for dotnet build and suppress existing issues
  .editorconfig
  PowerShellEditorServices.Common.props
Labels: Issue-Meta, Area-Code Formatting

#1634 Display `IEnumerables` and `IDictionaries` in debugger prettily (with "Raw View" available)
  src/PowerShellEditorServices/Services/DebugAdapter/Debugging/VariableDetails.cs
  test/PowerShellEditorServices.Test.Shared/Debugging/VariableTest.ps1
  test/PowerShellEditorServices.Test/Debugging/DebugServiceTests.cs
Labels: Issue-Enhancement, Area-Debugging

#1669 Fix off-by-one error in validation within `GetOffsetAtPosition`
  src/PowerShellEditorServices/Services/TextDocument/ScriptFile.cs
Labels: Issue-Bug, Area-Language Server

#1678 Release `v3.1.1`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore
