Repository PowerShell/PowerShellEditorServices, pull requests merged in 2023-02, with the labels that each got.

#1987 Release `v3.8.0`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore

#1989 Keep only first assignment as declaration
  src/PowerShellEditorServices/Services/Symbols/ReferenceTable.cs
  test/PowerShellEditorServices.Test.Shared/References/SimpleFile.ps1
  test/PowerShellEditorServices.Test/Language/SymbolsServiceTests.cs
Labels: Issue-Bug, Area-Symbols and References

#1988 Support Run/Debug tests in PSKoans-files
  module/PowerShellEditorServices/InvokePesterStub.ps1
  src/PowerShellEditorServices/Services/Symbols/PesterDocumentSymbolProvider.cs
  test/PowerShellEditorServices.Test.Shared/Symbols/FindSymbolsInPSKoansFile.cs
  test/PowerShellEditorServices.Test.Shared/Symbols/PesterFile.Koans.ps1
  test/PowerShellEditorServices.Test/Language/SymbolsServiceTests.cs
Labels: Issue-Enhancement, Area-Pester

#1990 Strip scope from function references
  src/PowerShellEditorServices/Services/Symbols/Visitors/SymbolVisitor.cs
  src/PowerShellEditorServices/Utility/VisitorUtils.cs
  test/PowerShellEditorServices.Test.Shared/Symbols/MultipleSymbols.ps1
  test/PowerShellEditorServices.Test/Language/SymbolsServiceTests.cs
Labels: Issue-Bug, Area-Symbols and References

#1991 Declare scope prefixes array as static readonly
  src/PowerShellEditorServices/Utility/VisitorUtils.cs
Labels: Ignore

#1993 Count `${Function:My-Function}` as a function reference
  src/PowerShellEditorServices/Services/Symbols/Visitors/SymbolVisitor.cs
  test/PowerShellEditorServices.Test.Shared/References/SimpleFile.ps1
  test/PowerShellEditorServices.Test/Language/SymbolsServiceTests.cs
Labels: Issue-Enhancement, Area-Symbols and References

#1996 Release `v3.8.1`
  CHANGELOG.md
  PowerShellEditorServices.Common.props
  module/PowerShellEditorServices/PowerShellEditorServices.psd1
Labels: Ignore

#1997 Fix New-EditorFile adding content in current file
  module/PowerShellEditorServices/Commands/Public/CmdletInterface.ps1
  module/PowerShellEditorServices/Commands/Public/Out-CurrentFile.ps1
Labels: Issue-Bug, Area-psEditor

#1998 Support module-qualified calls for Pester keywords
  src/PowerShellEditorServices/Services/Symbols/PesterDocumentSymbolProvider.cs
Labels: Issue-Bug, Area-Pester

#2000 Code clean-up and fixing end-to-end tests
  .editorconfig
  PowerShellEditorServices.build.ps1
  src/PowerShellEditorServices/Extensions/EditorContext.cs
  src/PowerShellEditorServices/Extensions/EditorFileRanges.cs
  src/PowerShellEditorServices/Extensions/EditorObject.cs
  src/PowerShellEditorServices/Extensions/EditorWindow.cs
  src/PowerShellEditorServices/Extensions/EditorWorkspace.cs
  src/PowerShellEditorServices/Extensions/FileContext.cs
  src/PowerShellEditorServices/Hosting/EditorServicesServerFactory.cs
  src/PowerShellEditorServices/Logging/LoggerExtensions.cs
  src/PowerShellEditorServices/Services/DebugAdapter/DebugService.cs
  src/PowerShellEditorServices/Services/DebugAdapter/Debugging/InvalidPowerShellExpressionException.cs
  src/PowerShellEditorServices/Services/DebugAdapter/Handlers/StackTraceHandler.cs
  src/PowerShellEditorServices/Services/PowerShell/Debugging/DscBreakpointCapability.cs
  src/PowerShellEditorServices/Services/PowerShell/Handlers/GetVersionHandler.cs
  src/PowerShellEditorServices/Services/PowerShell/Handlers/PSHostProcessAndRunspaceHandlers.cs
  src/PowerShellEditorServices/Services/PowerShell/Utility/CommandHelpers.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/CodeActionHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/TokenOperations.cs
  src/PowerShellEditorServices/Services/Workspace/Handlers/WorkspaceSymbolsHandler.cs
  src/PowerShellEditorServices/Services/Workspace/RemoteFileManagerService.cs
  src/PowerShellEditorServices/Utility/IScriptExtentExtensions.cs
  src/PowerShellEditorServices/Utility/PSCommandExtensions.cs
  src/PowerShellEditorServices/Utility/PathUtils.cs
  test/PowerShellEditorServices.Test.E2E/LanguageServerProtocolMessageTests.cs
  test/PowerShellEditorServices.Test/Language/TokenOperationsTests.cs
  test/PowerShellEditorServices.Test/PsesHostFactory.cs
Labels: Issue-Enhancement, Area-General

#2003 Add document symbols for `#region`
  src/PowerShellEditorServices/Server/PsesLanguageServer.cs
  src/PowerShellEditorServices/Services/Analysis/PssaCmdletAnalysisEngine.cs
  src/PowerShellEditorServices/Services/CodeLens/ICodeLensProvider.cs
  src/PowerShellEditorServices/Services/CodeLens/PesterCodeLensProvider.cs
  src/PowerShellEditorServices/Services/CodeLens/ReferencesCodeLensProvider.cs
  src/PowerShellEditorServices/Services/PowerShell/Utility/CommandHelpers.cs
  src/PowerShellEditorServices/Services/Symbols/PesterDocumentSymbolProvider.cs
  src/PowerShellEditorServices/Services/Symbols/RegionDocumentSymbolProvider.cs
  src/PowerShellEditorServices/Services/Symbols/SymbolDetails.cs
  src/PowerShellEditorServices/Services/Symbols/SymbolType.cs
  src/PowerShellEditorServices/Services/Symbols/SymbolsService.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/CodeActionHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/CodeLensHandlers.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/DefinitionHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/DocumentHighlightHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/DocumentSymbolHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/FoldingRangeHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/FormattingHandlers.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/HoverHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/Handlers/ReferencesHandler.cs
  src/PowerShellEditorServices/Services/TextDocument/TokenOperations.cs
  src/PowerShellEditorServices/Services/Workspace/Handlers/WorkspaceSymbolsHandler.cs
  test/PowerShellEditorServices.Test.Shared/Symbols/MultipleSymbols.ps1
  test/PowerShellEditorServices.Test/Language/SymbolsServiceTests.cs
Labels: Issue-Enhancement, Area-Symbols and References
