Repository PowerShell/PowerShellEditorServices, pull requests merged in 2024-10, with the labels that each got.

#2183 Switch VIM E2E tests to use nightly
  .github/workflows/vim-test.yml
Labels: Issue-Bug, Area-Build & Release

#2186 Allow daily PowerShell test to fail
  .github/workflows/ci-test.yml
Labels: Area-Test

#2177 Add the ability to use either `.` or `&` when launching script
  src/PowerShellEditorServices/Services/DebugAdapter/DebugStateService.cs
  src/PowerShellEditorServices/Services/DebugAdapter/Handlers/ConfigurationDoneHandler.cs
  src/PowerShellEditorServices/Services/DebugAdapter/Handlers/LaunchAndAttachHandler.cs
  src/PowerShellEditorServices/Utility/PSCommandExtensions.cs
  test/PowerShellEditorServices.Test.E2E/DebugAdapterClientExtensions.cs
  test/PowerShellEditorServices.Test.E2E/DebugAdapterProtocolMessageTests.cs
Labels: Area-Debugging

#2187 Update PSScriptAnalyzer to 1.23.0
  PowerShellEditorServices.build.ps1
Labels: Area-Script Analysis

#2193 Fix unit test broken by GitHub Action image update
  test/PowerShellEditorServices.Test.Shared/Completion/CompleteCommandInFile.cs
  test/PowerShellEditorServices.Test.Shared/Completion/CompletionExamples.psm1
Labels: Issue-Bug, Area-Test

#2188 Migrate to DeployBox for release stage
  .github/workflows/ci-test.yml
  .gitignore
  .pipelines/PowerShellEditorServices-Official.yml
  PowerShellEditorServices.build.ps1
  tools/installPSResources.ps1
Labels: Area-Build & Release

#2194 Bump packages for component governance
  Directory.Packages.props
  test/PowerShellEditorServices.Test/PowerShellEditorServices.Test.csproj
Labels: Area-Test
